NodeRED-FinalFlow.json
[{"id":"25ccdd2c.a33652","type":"tab","label":"Final Flow","disabled":false,"info":""},{"id":"accbd299.42e25","type":"function","z":"25ccdd2c.a33652","name":"joiner empty function","func":"\n\nreturn msg;","outputs":1,"noerr":0,"x":1200,"y":1080,"wires":[["d4c2469c.22ea78","20cce49d.8c8a6c","9725e28.5da0d2"]]},{"id":"59caf1.ac38e51","type":"http request","z":"25ccdd2c.a33652","name":"","method":"POST","ret":"obj","paytoqs":true,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":1510,"y":1180,"wires":[["1928e16c.5c35af","57ef3696.da2408"]]},{"id":"1928e16c.5c35af","type":"function","z":"25ccdd2c.a33652","name":"sendTo Endpoint","func":"//get token and maf8071c8-7598-4276-972e-c342e51de814ake headers\nvar token=msg.payload.access_token;\nvar instance_id=\"af8071c8-7598-4276-972e-c342e51de814\";\n\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar week = global.get(\"week\");\nvar center_id = global.get(\"center_id\");\nvar meal_id = global.get(\"meal_id\");\nvar discount = global.get(\"Discount\");\nvar base_price = global.get(\"base_price\");\nvar emailer_for_promotion = global.get(\"emailer_for_promotion\");\nvar homepage_featured = global.get(\"homepage_featured\");\nvar year = global.get(\"year\");\nvar month = global.get(\"month\");\nvar op_area = global.get(\"op_area\");\nvar a = global.get(\"ab\");\nvar b = global.get(\"bc\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar bir = global.get(\"bir\");\nvar des = global.get(\"des\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\nvar u = global.get(\"u\");\nvar checkout = global.get(\"checkout_price\");\nvar city = global.get(\"city_code\");\nvar region = global.get(\"region_code\");\n//send the user values to service endpoint\nmsg.payload = {\"fields\":['week', 'center_id', 'meal_id', 'checkout_price', 'base_price', 'emailer_for_promotion', 'homepage_featured', 'city_code', 'region_code', 'op_area', 'Discount', 'year', 'month', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20'],\"values\":[[week,center_id,meal_id,checkout,base_price,emailer_for_promotion,homepage_featured,city,region,op_area,discount,year,month,a,b,c,d,e,f,g,h,bir,des,k,l,m,n,o,p,q,r,s,t,u]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1790,"y":1200,"wires":[["34ed145c.0379dc","38dc293f.bde076"]]},{"id":"34ed145c.0379dc","type":"http request","z":"25ccdd2c.a33652","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v3/wml_instances/af8071c8-7598-4276-972e-c342e51de814/deployments/00f64986-d95d-450d-8ccf-55d408dd20c7/online","tls":"","persist":false,"proxy":"","authType":"","x":1750,"y":1260,"wires":[["6d586a81.cdba44","242a1879.518998"]]},{"id":"6d586a81.cdba44","type":"function","z":"25ccdd2c.a33652","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nmsg.payload = Math.floor(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1810,"y":1320,"wires":[["c70befbf.6b429","9396e394.b3cc3"]]},{"id":"9396e394.b3cc3","type":"ui_text","z":"25ccdd2c.a33652","group":"34781900.b4f518","order":3,"width":"10","height":"1","name":"","label":"Number of Orders for the week","format":"{{msg.payload}}","layout":"row-center","x":2170,"y":1480,"wires":[]},{"id":"a1274cd5.89f43","type":"change","z":"25ccdd2c.a33652","name":"set discount -ve","rules":[{"t":"set","p":"payload.Discount","pt":"msg","to":"-1","tot":"num"},{"t":"delete","p":"payload.dicount_pos","pt":"msg"},{"t":"delete","p":"payload.dicount_neg","pt":"msg"},{"t":"delete","p":"payload.discount_no","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":120,"wires":[["940c503d.7f853"]]},{"id":"d42369a0.47b3a8","type":"switch","z":"25ccdd2c.a33652","name":"check discount -ve","property":"payload.dicount_neg","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":110,"y":140,"wires":[["a1274cd5.89f43"],["7a6adfcf.a4ee6"]]},{"id":"7a6adfcf.a4ee6","type":"switch","z":"25ccdd2c.a33652","name":"check discount +ve or 0","property":"payload.dicount_pos","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":130,"y":200,"wires":[["33706917.2c13c6"],["c23528d9.375de8"]]},{"id":"c23528d9.375de8","type":"change","z":"25ccdd2c.a33652","name":"set discount 0","rules":[{"t":"set","p":"payload.Discount","pt":"msg","to":"0","tot":"num"},{"t":"delete","p":"payload.dicount_pos","pt":"msg"},{"t":"delete","p":"payload.dicount_neg","pt":"msg"},{"t":"delete","p":"payload.discount_no","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":200,"wires":[["940c503d.7f853"]]},{"id":"33706917.2c13c6","type":"change","z":"25ccdd2c.a33652","name":"set discount +ve","rules":[{"t":"set","p":"payload.Discount","pt":"msg","to":"1","tot":"num"},{"t":"delete","p":"payload.dicount_pos","pt":"msg"},{"t":"delete","p":"payload.dicount_neg","pt":"msg"},{"t":"delete","p":"payload.discount_no","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":160,"wires":[["940c503d.7f853"]]},{"id":"53f67e9.ef7da8","type":"switch","z":"25ccdd2c.a33652","name":"set emailer","property":"payload.emailer_for_promotion","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":110,"y":300,"wires":[["e24f13a8.1dbdd"],["4d6ecd54.f02654"]]},{"id":"e24f13a8.1dbdd","type":"change","z":"25ccdd2c.a33652","name":"set emailer 1","rules":[{"t":"set","p":"payload.emailer_for_promotion","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":280,"wires":[["43fa03da.731b3c"]]},{"id":"4d6ecd54.f02654","type":"change","z":"25ccdd2c.a33652","name":"set emailer 0","rules":[{"t":"set","p":"payload.emailer_for_promotion","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":320,"wires":[["43fa03da.731b3c"]]},{"id":"43fa03da.731b3c","type":"switch","z":"25ccdd2c.a33652","name":"set homepage","property":"payload.homepage_featured","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":480,"y":300,"wires":[["23bcfc5b.2cae14"],["e98c0513.ac0968"]]},{"id":"23bcfc5b.2cae14","type":"change","z":"25ccdd2c.a33652","name":"set homepage 1","rules":[{"t":"set","p":"payload.homepage_featured","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":280,"wires":[["48b9b905.c99118"]]},{"id":"e98c0513.ac0968","type":"change","z":"25ccdd2c.a33652","name":"set homepage 0","rules":[{"t":"set","p":"payload.homepage_featured","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":320,"wires":[["48b9b905.c99118"]]},{"id":"48b9b905.c99118","type":"function","z":"25ccdd2c.a33652","name":"save payload in global a","func":"global.set(\"a\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":300,"wires":[["5f3493fc.a3ca2c"]]},{"id":"5f3493fc.a3ca2c","type":"change","z":"25ccdd2c.a33652","name":"Generate array payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\t {\t   \"center_id\": 11,\t   \"city_code\": 679,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 3.7\t },\t {\t   \"center_id\": 13,\t   \"city_code\": 590,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_B\",\t   \"op_area\": 6.7\t },\t {\t   \"center_id\": 124,\t   \"city_code\": 590,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_C\",\t   \"op_area\": 4\t },\t {\t   \"center_id\": 66,\t   \"city_code\": 648,\t   \"region_code\": 34,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 4.1\t },\t {\t   \"center_id\": 94,\t   \"city_code\": 632,\t   \"region_code\": 34,\t   \"center_type\": \"TYPE_C\",\t   \"op_area\": 3.6\t },\t {\t   \"center_id\": 64,\t   \"city_code\": 553,\t   \"region_code\": 77,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 4.4\t },\t {\t   \"center_id\": 129,\t   \"city_code\": 593,\t   \"region_code\": 77,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 3.9\t },\t {\t   \"center_id\": 139,\t   \"city_code\": 693,\t   \"region_code\": 34,\t   \"center_type\": \"TYPE_C\",\t   \"op_area\": 2.8\t },\t {\t   \"center_id\": 88,\t   \"city_code\": 526,\t   \"region_code\": 34,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 4.1\t },\t {\t   \"center_id\": 143,\t   \"city_code\": 562,\t   \"region_code\": 77,\t   \"center_type\": \"TYPE_B\",\t   \"op_area\": 3.8\t },\t {\t   \"center_id\": 101,\t   \"city_code\": 699,\t   \"region_code\": 85,\t   \"center_type\": \"TYPE_C\",\t   \"op_area\": 2.8\t },\t {\t   \"center_id\": 86,\t   \"city_code\": 699,\t   \"region_code\": 85,\t   \"center_type\": \"TYPE_C\",\t   \"op_area\": 4\t },\t {\t   \"center_id\": 32,\t   \"city_code\": 526,\t   \"region_code\": 34,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 3.8\t },\t {\t   \"center_id\": 149,\t   \"city_code\": 478,\t   \"region_code\": 77,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 2.4\t },\t {\t   \"center_id\": 152,\t   \"city_code\": 576,\t   \"region_code\": 34,\t   \"center_type\": \"TYPE_B\",\t   \"op_area\": 4\t },\t {\t   \"center_id\": 92,\t   \"city_code\": 526,\t   \"region_code\": 34,\t   \"center_type\": \"TYPE_C\",\t   \"op_area\": 2.9\t },\t {\t   \"center_id\": 27,\t   \"city_code\": 713,\t   \"region_code\": 85,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 4.5\t },\t {\t   \"center_id\": 14,\t   \"city_code\": 654,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_C\",\t   \"op_area\": 2.7\t },\t {\t   \"center_id\": 26,\t   \"city_code\": 515,\t   \"region_code\": 77,\t   \"center_type\": \"TYPE_C\",\t   \"op_area\": 3\t },\t {\t   \"center_id\": 104,\t   \"city_code\": 647,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 4.5\t },\t {\t   \"center_id\": 77,\t   \"city_code\": 676,\t   \"region_code\": 34,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 3.8\t },\t {\t   \"center_id\": 23,\t   \"city_code\": 698,\t   \"region_code\": 23,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 3.4\t },\t {\t   \"center_id\": 97,\t   \"city_code\": 628,\t   \"region_code\": 77,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 4.6\t },\t {\t   \"center_id\": 146,\t   \"city_code\": 526,\t   \"region_code\": 34,\t   \"center_type\": \"TYPE_B\",\t   \"op_area\": 5\t },\t {\t   \"center_id\": 113,\t   \"city_code\": 680,\t   \"region_code\": 77,\t   \"center_type\": \"TYPE_C\",\t   \"op_area\": 4\t },\t {\t   \"center_id\": 145,\t   \"city_code\": 620,\t   \"region_code\": 77,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 3.9\t },\t {\t   \"center_id\": 80,\t   \"city_code\": 604,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_C\",\t   \"op_area\": 5.1\t },\t {\t   \"center_id\": 55,\t   \"city_code\": 647,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_C\",\t   \"op_area\": 2\t },\t {\t   \"center_id\": 186,\t   \"city_code\": 649,\t   \"region_code\": 34,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 3.4\t },\t {\t   \"center_id\": 99,\t   \"city_code\": 596,\t   \"region_code\": 71,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 4.5\t },\t {\t   \"center_id\": 91,\t   \"city_code\": 590,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_C\",\t   \"op_area\": 0.9\t },\t {\t   \"center_id\": 20,\t   \"city_code\": 522,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 4\t },\t {\t   \"center_id\": 106,\t   \"city_code\": 675,\t   \"region_code\": 34,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 4\t },\t {\t   \"center_id\": 81,\t   \"city_code\": 526,\t   \"region_code\": 34,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 4\t },\t {\t   \"center_id\": 73,\t   \"city_code\": 576,\t   \"region_code\": 34,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 4\t },\t {\t   \"center_id\": 29,\t   \"city_code\": 526,\t   \"region_code\": 34,\t   \"center_type\": \"TYPE_C\",\t   \"op_area\": 4\t },\t {\t   \"center_id\": 43,\t   \"city_code\": 590,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 5.1\t },\t {\t   \"center_id\": 102,\t   \"city_code\": 593,\t   \"region_code\": 77,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 2.8\t },\t {\t   \"center_id\": 61,\t   \"city_code\": 473,\t   \"region_code\": 77,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 4.5\t },\t {\t   \"center_id\": 50,\t   \"city_code\": 556,\t   \"region_code\": 77,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 4.8\t },\t {\t   \"center_id\": 83,\t   \"city_code\": 659,\t   \"region_code\": 77,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 5.3\t },\t {\t   \"center_id\": 57,\t   \"city_code\": 541,\t   \"region_code\": 77,\t   \"center_type\": \"TYPE_C\",\t   \"op_area\": 2.8\t },\t {\t   \"center_id\": 126,\t   \"city_code\": 577,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 2.7\t },\t {\t   \"center_id\": 177,\t   \"city_code\": 683,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 3.4\t },\t {\t   \"center_id\": 67,\t   \"city_code\": 638,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_B\",\t   \"op_area\": 7\t },\t {\t   \"center_id\": 174,\t   \"city_code\": 700,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 7\t },\t {\t   \"center_id\": 59,\t   \"city_code\": 456,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 4.2\t },\t {\t   \"center_id\": 58,\t   \"city_code\": 695,\t   \"region_code\": 77,\t   \"center_type\": \"TYPE_C\",\t   \"op_area\": 3.8\t },\t {\t   \"center_id\": 65,\t   \"city_code\": 602,\t   \"region_code\": 34,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 4.8\t },\t {\t   \"center_id\": 39,\t   \"city_code\": 526,\t   \"region_code\": 34,\t   \"center_type\": \"TYPE_C\",\t   \"op_area\": 3.8\t },\t {\t   \"center_id\": 132,\t   \"city_code\": 522,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 3.9\t },\t {\t   \"center_id\": 89,\t   \"city_code\": 703,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 4.8\t },\t {\t   \"center_id\": 162,\t   \"city_code\": 526,\t   \"region_code\": 34,\t   \"center_type\": \"TYPE_C\",\t   \"op_area\": 2\t },\t {\t   \"center_id\": 75,\t   \"city_code\": 651,\t   \"region_code\": 77,\t   \"center_type\": \"TYPE_B\",\t   \"op_area\": 4.7\t },\t {\t   \"center_id\": 72,\t   \"city_code\": 638,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_C\",\t   \"op_area\": 3.9\t },\t {\t   \"center_id\": 41,\t   \"city_code\": 590,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_C\",\t   \"op_area\": 1.9\t },\t {\t   \"center_id\": 10,\t   \"city_code\": 590,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_B\",\t   \"op_area\": 6.3\t },\t {\t   \"center_id\": 110,\t   \"city_code\": 485,\t   \"region_code\": 77,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 3.8\t },\t {\t   \"center_id\": 52,\t   \"city_code\": 685,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_B\",\t   \"op_area\": 5.6\t },\t {\t   \"center_id\": 93,\t   \"city_code\": 461,\t   \"region_code\": 34,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 3.9\t },\t {\t   \"center_id\": 74,\t   \"city_code\": 702,\t   \"region_code\": 35,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 2.8\t },\t {\t   \"center_id\": 34,\t   \"city_code\": 615,\t   \"region_code\": 34,\t   \"center_type\": \"TYPE_B\",\t   \"op_area\": 4.2\t },\t {\t   \"center_id\": 137,\t   \"city_code\": 590,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 4.4\t },\t {\t   \"center_id\": 153,\t   \"city_code\": 590,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 3.9\t },\t {\t   \"center_id\": 24,\t   \"city_code\": 614,\t   \"region_code\": 85,\t   \"center_type\": \"TYPE_B\",\t   \"op_area\": 3.6\t },\t {\t   \"center_id\": 109,\t   \"city_code\": 599,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 3.6\t },\t {\t   \"center_id\": 108,\t   \"city_code\": 579,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_B\",\t   \"op_area\": 4.4\t },\t {\t   \"center_id\": 36,\t   \"city_code\": 517,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_B\",\t   \"op_area\": 4.4\t },\t {\t   \"center_id\": 157,\t   \"city_code\": 609,\t   \"region_code\": 93,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 4.1\t },\t {\t   \"center_id\": 17,\t   \"city_code\": 517,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 3.2\t },\t {\t   \"center_id\": 161,\t   \"city_code\": 658,\t   \"region_code\": 34,\t   \"center_type\": \"TYPE_B\",\t   \"op_area\": 3.9\t },\t {\t   \"center_id\": 42,\t   \"city_code\": 561,\t   \"region_code\": 77,\t   \"center_type\": \"TYPE_B\",\t   \"op_area\": 3.9\t },\t {\t   \"center_id\": 53,\t   \"city_code\": 590,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 3.8\t },\t {\t   \"center_id\": 30,\t   \"city_code\": 604,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 3.5\t },\t {\t   \"center_id\": 76,\t   \"city_code\": 614,\t   \"region_code\": 85,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 3\t },\t {\t   \"center_id\": 68,\t   \"city_code\": 676,\t   \"region_code\": 34,\t   \"center_type\": \"TYPE_B\",\t   \"op_area\": 4.1\t },\t {\t   \"center_id\": 51,\t   \"city_code\": 638,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 7\t }\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":130,"y":420,"wires":[["b398e348.77ebe"]]},{"id":"b398e348.77ebe","type":"csv","z":"25ccdd2c.a33652","name":"generate fulfilment_center_info.csv","sep":",","hdrin":"","hdrout":true,"multi":"one","ret":"\\n","temp":"center_id,city_code,region_code,center_type,op_area","skip":"0","strings":true,"x":400,"y":420,"wires":[["e7d1d417.13d3d8"]]},{"id":"e7d1d417.13d3d8","type":"split","z":"25ccdd2c.a33652","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":610,"y":420,"wires":[["9d85e793.fc6fb8"]]},{"id":"9d85e793.fc6fb8","type":"function","z":"25ccdd2c.a33652","name":"find match","func":"var record = msg.payload.split(\",\");\nvar target = global.get(\"a\");\nif(target.center_id == record[0])\n{\n    var res = [parseInt(record[1]),parseInt(record[2]),record[3], parseFloat(record[4])]\n    msg.payload = res;\n}\nelse\n{\n    return null;\n}\nreturn msg","outputs":1,"noerr":0,"x":750,"y":420,"wires":[["43e07874.250d78"]]},{"id":"43e07874.250d78","type":"change","z":"25ccdd2c.a33652","name":"set op_area","rules":[{"t":"set","p":"b","pt":"global","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"a","tot":"global"},{"t":"set","p":"payload.op_area","pt":"msg","to":"b[3]","tot":"global"},{"t":"set","p":"payload.city_code","pt":"msg","to":"b[0]","tot":"global"},{"t":"set","p":"payload.test","pt":"msg","to":"b[2]","tot":"global"},{"t":"set","p":"payload.region_code","pt":"msg","to":"b[1]","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":420,"wires":[["73a8c35c.26be6c"]]},{"id":"73a8c35c.26be6c","type":"switch","z":"25ccdd2c.a33652","name":"find center_type","property":"payload.test","propertyType":"msg","rules":[{"t":"eq","v":"TYPE_A","vt":"str"},{"t":"eq","v":"TYPE_B","vt":"str"},{"t":"eq","v":"TYPE_C","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":1080,"y":420,"wires":[["35f03a0c.3b41f6"],["a0772bcc.bf6c48"],["7f929dd4.abfb54"]]},{"id":"35f03a0c.3b41f6","type":"change","z":"25ccdd2c.a33652","name":"set TYPE_A","rules":[{"t":"set","p":"payload.e","pt":"msg","to":"1","tot":"num"},{"t":"set","p":"payload.f","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"payload.g","pt":"msg","to":"0","tot":"num"},{"t":"delete","p":"payload.test","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":380,"wires":[["f5174055.f01c"]]},{"id":"a0772bcc.bf6c48","type":"change","z":"25ccdd2c.a33652","name":"set TYPE_B","rules":[{"t":"set","p":"payload.e","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"payload.f","pt":"msg","to":"1","tot":"num"},{"t":"set","p":"payload.g","pt":"msg","to":"0","tot":"num"},{"t":"delete","p":"payload.test","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":420,"wires":[["f5174055.f01c"]]},{"id":"7f929dd4.abfb54","type":"change","z":"25ccdd2c.a33652","name":"set TYPE_C","rules":[{"t":"set","p":"payload.e","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"payload.f","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"payload.g","pt":"msg","to":"1","tot":"num"},{"t":"delete","p":"payload.test","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":460,"wires":[["f5174055.f01c"]]},{"id":"f5174055.f01c","type":"function","z":"25ccdd2c.a33652","name":"save payload in global a","func":"global.set(\"a\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":1570,"y":420,"wires":[["bfa4cbbd.c03228","59319321.675c3c"]]},{"id":"940c503d.7f853","type":"function","z":"25ccdd2c.a33652","name":"joiner empty function","func":"\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":160,"wires":[["53f67e9.ef7da8","1696fb9e.9676e4"]]},{"id":"bfa4cbbd.c03228","type":"change","z":"25ccdd2c.a33652","name":"Generate array payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\t {\t   \"meal_id\": 1885,\t   \"category\": \"Beverages\",\t   \"cuisine\": \"Thai\"\t },\t {\t   \"meal_id\": 1993,\t   \"category\": \"Beverages\",\t   \"cuisine\": \"Thai\"\t },\t {\t   \"meal_id\": 2539,\t   \"category\": \"Beverages\",\t   \"cuisine\": \"Thai\"\t },\t {\t   \"meal_id\": 1248,\t   \"category\": \"Beverages\",\t   \"cuisine\": \"Indian\"\t },\t {\t   \"meal_id\": 2631,\t   \"category\": \"Beverages\",\t   \"cuisine\": \"Indian\"\t },\t {\t   \"meal_id\": 1311,\t   \"category\": \"Extras\",\t   \"cuisine\": \"Thai\"\t },\t {\t   \"meal_id\": 1062,\t   \"category\": \"Beverages\",\t   \"cuisine\": \"Italian\"\t },\t {\t   \"meal_id\": 1778,\t   \"category\": \"Beverages\",\t   \"cuisine\": \"Italian\"\t },\t {\t   \"meal_id\": 1803,\t   \"category\": \"Extras\",\t   \"cuisine\": \"Thai\"\t },\t {\t   \"meal_id\": 1198,\t   \"category\": \"Extras\",\t   \"cuisine\": \"Thai\"\t },\t {\t   \"meal_id\": 2707,\t   \"category\": \"Beverages\",\t   \"cuisine\": \"Italian\"\t },\t {\t   \"meal_id\": 1847,\t   \"category\": \"Soup\",\t   \"cuisine\": \"Thai\"\t },\t {\t   \"meal_id\": 1438,\t   \"category\": \"Soup\",\t   \"cuisine\": \"Thai\"\t },\t {\t   \"meal_id\": 2494,\t   \"category\": \"Soup\",\t   \"cuisine\": \"Thai\"\t },\t {\t   \"meal_id\": 2760,\t   \"category\": \"Other Snacks\",\t   \"cuisine\": \"Thai\"\t },\t {\t   \"meal_id\": 2490,\t   \"category\": \"Salad\",\t   \"cuisine\": \"Italian\"\t },\t {\t   \"meal_id\": 1109,\t   \"category\": \"Rice Bowl\",\t   \"cuisine\": \"Indian\"\t },\t {\t   \"meal_id\": 2290,\t   \"category\": \"Rice Bowl\",\t   \"cuisine\": \"Indian\"\t },\t {\t   \"meal_id\": 1525,\t   \"category\": \"Other Snacks\",\t   \"cuisine\": \"Thai\"\t },\t {\t   \"meal_id\": 2704,\t   \"category\": \"Other Snacks\",\t   \"cuisine\": \"Thai\"\t },\t {\t   \"meal_id\": 1878,\t   \"category\": \"Starters\",\t   \"cuisine\": \"Thai\"\t },\t {\t   \"meal_id\": 2640,\t   \"category\": \"Starters\",\t   \"cuisine\": \"Thai\"\t },\t {\t   \"meal_id\": 2577,\t   \"category\": \"Starters\",\t   \"cuisine\": \"Thai\"\t },\t {\t   \"meal_id\": 1754,\t   \"category\": \"Sandwich\",\t   \"cuisine\": \"Italian\"\t },\t {\t   \"meal_id\": 1971,\t   \"category\": \"Sandwich\",\t   \"cuisine\": \"Italian\"\t },\t {\t   \"meal_id\": 2306,\t   \"category\": \"Pasta\",\t   \"cuisine\": \"Italian\"\t },\t {\t   \"meal_id\": 2139,\t   \"category\": \"Beverages\",\t   \"cuisine\": \"Indian\"\t },\t {\t   \"meal_id\": 2826,\t   \"category\": \"Sandwich\",\t   \"cuisine\": \"Italian\"\t },\t {\t   \"meal_id\": 2664,\t   \"category\": \"Salad\",\t   \"cuisine\": \"Italian\"\t },\t {\t   \"meal_id\": 2569,\t   \"category\": \"Salad\",\t   \"cuisine\": \"Italian\"\t },\t {\t   \"meal_id\": 1230,\t   \"category\": \"Beverages\",\t   \"cuisine\": \"Continental\"\t },\t {\t   \"meal_id\": 1207,\t   \"category\": \"Beverages\",\t   \"cuisine\": \"Continental\"\t },\t {\t   \"meal_id\": 2322,\t   \"category\": \"Beverages\",\t   \"cuisine\": \"Continental\"\t },\t {\t   \"meal_id\": 2492,\t   \"category\": \"Desert\",\t   \"cuisine\": \"Indian\"\t },\t {\t   \"meal_id\": 1216,\t   \"category\": \"Pasta\",\t   \"cuisine\": \"Italian\"\t },\t {\t   \"meal_id\": 1727,\t   \"category\": \"Rice Bowl\",\t   \"cuisine\": \"Indian\"\t },\t {\t   \"meal_id\": 1902,\t   \"category\": \"Biryani\",\t   \"cuisine\": \"Indian\"\t },\t {\t   \"meal_id\": 1247,\t   \"category\": \"Biryani\",\t   \"cuisine\": \"Indian\"\t },\t {\t   \"meal_id\": 2304,\t   \"category\": \"Desert\",\t   \"cuisine\": \"Indian\"\t },\t {\t   \"meal_id\": 1543,\t   \"category\": \"Desert\",\t   \"cuisine\": \"Indian\"\t },\t {\t   \"meal_id\": 1770,\t   \"category\": \"Biryani\",\t   \"cuisine\": \"Indian\"\t },\t {\t   \"meal_id\": 2126,\t   \"category\": \"Pasta\",\t   \"cuisine\": \"Italian\"\t },\t {\t   \"meal_id\": 1558,\t   \"category\": \"Pizza\",\t   \"cuisine\": \"Continental\"\t },\t {\t   \"meal_id\": 2581,\t   \"category\": \"Pizza\",\t   \"cuisine\": \"Continental\"\t },\t {\t   \"meal_id\": 1962,\t   \"category\": \"Pizza\",\t   \"cuisine\": \"Continental\"\t },\t {\t   \"meal_id\": 1571,\t   \"category\": \"Fish\",\t   \"cuisine\": \"Continental\"\t },\t {\t   \"meal_id\": 2956,\t   \"category\": \"Fish\",\t   \"cuisine\": \"Continental\"\t },\t {\t   \"meal_id\": 2104,\t   \"category\": \"Fish\",\t   \"cuisine\": \"Continental\"\t },\t {\t   \"meal_id\": 2444,\t   \"category\": \"Seafood\",\t   \"cuisine\": \"Continental\"\t },\t {\t   \"meal_id\": 2867,\t   \"category\": \"Seafood\",\t   \"cuisine\": \"Continental\"\t },\t {\t   \"meal_id\": 1445,\t   \"category\": \"Seafood\",\t   \"cuisine\": \"Continental\"\t }\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":130,"y":660,"wires":[["af02a43.a658458"]]},{"id":"af02a43.a658458","type":"csv","z":"25ccdd2c.a33652","name":"generate meal_info.csv","sep":",","hdrin":"","hdrout":true,"multi":"one","ret":"\\n","temp":"meal_id,category,cuisine","skip":"0","strings":true,"x":370,"y":660,"wires":[["fd3b6490.e28418"]]},{"id":"fd3b6490.e28418","type":"split","z":"25ccdd2c.a33652","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":550,"y":660,"wires":[["d28f204a.b59b6"]]},{"id":"d28f204a.b59b6","type":"function","z":"25ccdd2c.a33652","name":"find match","func":"var record = msg.payload.split(\",\");\nvar target = global.get(\"a\");\nif(target.meal_id == record[0])\n{\n    var res = [record[1], record[2]]\n    msg.payload = res;\n}\nelse\n{\n    return null;\n}\nreturn msg","outputs":1,"noerr":0,"x":690,"y":660,"wires":[["682bf08f.d71b8"]]},{"id":"682bf08f.d71b8","type":"change","z":"25ccdd2c.a33652","name":"set meal related variables","rules":[{"t":"set","p":"b","pt":"global","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"a","tot":"global"},{"t":"set","p":"payload.category","pt":"msg","to":"b[0]","tot":"global"},{"t":"set","p":"payload.cuisine","pt":"msg","to":"b[1]","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":660,"wires":[["b728261b.622ef8"]]},{"id":"b728261b.622ef8","type":"switch","z":"25ccdd2c.a33652","name":"find cuisine","property":"payload.cuisine","propertyType":"msg","rules":[{"t":"eq","v":"Continental","vt":"str"},{"t":"eq","v":"Indian","vt":"str"},{"t":"eq","v":"Italian","vt":"str"},{"t":"eq","v":"Thai","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":1090,"y":660,"wires":[["323abbdb.3fcb04"],["8ce0c107.93644"],["be9b947a.d5a078"],["b1eb706a.4172e"]]},{"id":"323abbdb.3fcb04","type":"change","z":"25ccdd2c.a33652","name":"set Continental","rules":[{"t":"set","p":"payload.ab","pt":"msg","to":"1","tot":"num"},{"t":"set","p":"payload.bc","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"payload.c","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"payload.d","pt":"msg","to":"0","tot":"num"},{"t":"delete","p":"payload.cuisine","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":600,"wires":[["6ed891a8.7da3e"]]},{"id":"b1eb706a.4172e","type":"change","z":"25ccdd2c.a33652","name":"set Thai","rules":[{"t":"set","p":"payload.ab","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"payload.bc","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"payload.c","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"payload.d","pt":"msg","to":"1","tot":"num"},{"t":"delete","p":"payload.cuisine","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":720,"wires":[["6ed891a8.7da3e"]]},{"id":"be9b947a.d5a078","type":"change","z":"25ccdd2c.a33652","name":"set Italian","rules":[{"t":"set","p":"payload.ab","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"payload.bc","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"payload.c","pt":"msg","to":"1","tot":"num"},{"t":"set","p":"payload.d","pt":"msg","to":"0","tot":"num"},{"t":"delete","p":"payload.cuisine","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":680,"wires":[["6ed891a8.7da3e"]]},{"id":"8ce0c107.93644","type":"change","z":"25ccdd2c.a33652","name":"set Indian","rules":[{"t":"set","p":"payload.ab","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"payload.bc","pt":"msg","to":"1","tot":"num"},{"t":"set","p":"payload.c","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"payload.d","pt":"msg","to":"0","tot":"num"},{"t":"delete","p":"payload.cuisine","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":640,"wires":[["6ed891a8.7da3e"]]},{"id":"31ce3008.392a9","type":"switch","z":"25ccdd2c.a33652","name":"find category","property":"payload.category","propertyType":"msg","rules":[{"t":"eq","v":"Beverages","vt":"str"},{"t":"eq","v":"Biryani","vt":"str"},{"t":"eq","v":"Desert","vt":"str"},{"t":"eq","v":"Extras","vt":"str"},{"t":"eq","v":"Fish","vt":"str"},{"t":"eq","v":"Other Snacks","vt":"str"},{"t":"eq","v":"Pasta","vt":"str"},{"t":"eq","v":"Pizza","vt":"str"},{"t":"eq","v":"Rice Bowl","vt":"str"},{"t":"eq","v":"Salad","vt":"str"},{"t":"eq","v":"Sandwich","vt":"str"},{"t":"eq","v":"Seafood","vt":"str"},{"t":"eq","v":"Soup","vt":"str"},{"t":"eq","v":"Starters","vt":"str"}],"checkall":"false","repair":false,"outputs":14,"x":70,"y":800,"wires":[["7fc59242.26734c"],["4fe2c6be.afb8c8"],["789efa91.facdd4"],["1cfc2057.e3139"],["c56ae142.4aa88"],["ed7b8469.ecd778"],["fd6867aa.f4c4f8"],["ba80a555.6c1c98"],["298664dd.b3858c"],["69d98ff6.54365"],["a93dffd3.1b2b9"],["78584372.004dcc"],["e9f1b871.3ee738"],["876bc02d.fd7bc"]]},{"id":"6ed891a8.7da3e","type":"change","z":"25ccdd2c.a33652","name":"set category related variables","rules":[{"t":"set","p":"payload.h","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"payload.bir","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"payload.des","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"payload.k","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"payload.l","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"payload.m","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"payload.n","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"payload.o","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"payload.p","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"payload.q","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"payload.r","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"payload.s","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"payload.t","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"payload.u","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1610,"y":760,"wires":[["31ce3008.392a9","cc50821c.3c6b8"]]},{"id":"7fc59242.26734c","type":"change","z":"25ccdd2c.a33652","name":"set Beverages","rules":[{"t":"set","p":"payload.h","pt":"msg","to":"1","tot":"num"},{"t":"delete","p":"payload.category","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":840,"wires":[["accbd299.42e25"]]},{"id":"4fe2c6be.afb8c8","type":"change","z":"25ccdd2c.a33652","name":"set Biryani","rules":[{"t":"set","p":"payload.bir","pt":"msg","to":"1","tot":"num"},{"t":"delete","p":"payload.category","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":880,"wires":[["accbd299.42e25"]]},{"id":"789efa91.facdd4","type":"change","z":"25ccdd2c.a33652","name":"set Desert","rules":[{"t":"set","p":"payload.des","pt":"msg","to":"1","tot":"num"},{"t":"delete","p":"payload.category","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":920,"wires":[["accbd299.42e25"]]},{"id":"1cfc2057.e3139","type":"change","z":"25ccdd2c.a33652","name":"set Extras","rules":[{"t":"set","p":"payload.k","pt":"msg","to":"1","tot":"num"},{"t":"delete","p":"payload.category","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":960,"wires":[["accbd299.42e25"]]},{"id":"c56ae142.4aa88","type":"change","z":"25ccdd2c.a33652","name":"set Fish","rules":[{"t":"set","p":"payload.l","pt":"msg","to":"1","tot":"num"},{"t":"delete","p":"payload.category","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":1000,"wires":[["accbd299.42e25"]]},{"id":"ed7b8469.ecd778","type":"change","z":"25ccdd2c.a33652","name":"set Other Snacks","rules":[{"t":"set","p":"payload.m","pt":"msg","to":"1","tot":"num"},{"t":"delete","p":"payload.category","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":1040,"wires":[["accbd299.42e25"]]},{"id":"fd6867aa.f4c4f8","type":"change","z":"25ccdd2c.a33652","name":"set Pasta","rules":[{"t":"set","p":"payload.n","pt":"msg","to":"1","tot":"num"},{"t":"delete","p":"payload.category","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":1080,"wires":[["accbd299.42e25"]]},{"id":"ba80a555.6c1c98","type":"change","z":"25ccdd2c.a33652","name":"set Pizza","rules":[{"t":"set","p":"payload.o","pt":"msg","to":"1","tot":"num"},{"t":"delete","p":"payload.category","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":1120,"wires":[["accbd299.42e25"]]},{"id":"298664dd.b3858c","type":"change","z":"25ccdd2c.a33652","name":"set Rice Bowl","rules":[{"t":"set","p":"payload.p","pt":"msg","to":"1","tot":"num"},{"t":"delete","p":"payload.category","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":1160,"wires":[["accbd299.42e25"]]},{"id":"69d98ff6.54365","type":"change","z":"25ccdd2c.a33652","name":"set Salad","rules":[{"t":"set","p":"payload.q","pt":"msg","to":"1","tot":"num"},{"t":"delete","p":"payload.category","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":1200,"wires":[["accbd299.42e25"]]},{"id":"a93dffd3.1b2b9","type":"change","z":"25ccdd2c.a33652","name":"set Sandwich","rules":[{"t":"set","p":"payload.r","pt":"msg","to":"1","tot":"num"},{"t":"delete","p":"payload.category","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":1240,"wires":[["accbd299.42e25"]]},{"id":"78584372.004dcc","type":"change","z":"25ccdd2c.a33652","name":"set Seafood","rules":[{"t":"set","p":"payload.s","pt":"msg","to":"1","tot":"num"},{"t":"delete","p":"payload.category","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":1280,"wires":[["accbd299.42e25"]]},{"id":"e9f1b871.3ee738","type":"change","z":"25ccdd2c.a33652","name":"set Soup","rules":[{"t":"set","p":"payload.t","pt":"msg","to":"1","tot":"num"},{"t":"delete","p":"payload.category","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":1320,"wires":[["accbd299.42e25"]]},{"id":"876bc02d.fd7bc","type":"change","z":"25ccdd2c.a33652","name":"set Starters","rules":[{"t":"set","p":"payload.u","pt":"msg","to":"1","tot":"num"},{"t":"delete","p":"payload.category","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":1360,"wires":[["accbd299.42e25"]]},{"id":"20cce49d.8c8a6c","type":"function","z":"25ccdd2c.a33652","name":"Function","func":"var year = Math.floor(msg.payload.week/52);\nvar month = Math.floor(msg.payload.week/4);\nglobal.set(\"week\",msg.payload.week);\nglobal.set(\"center_id\",msg.payload.center_id);\nglobal.set(\"meal_id\",msg.payload.meal_id);\nglobal.set(\"base_price\",msg.payload.base_price);\nglobal.set(\"checkout_price\",msg.payload.checkout_price);\nglobal.set(\"emailer_for_promotion\",msg.payload.emailer_for_promotion);\nglobal.set(\"homepage_featured\",msg.payload.homepage_featured);\nglobal.set(\"op_area\",msg.payload.op_area);\nglobal.set(\"Discount\",msg.payload.Discount);\nglobal.set(\"year\",year);\nglobal.set(\"month\",month);\nglobal.set(\"ab\",msg.payload.ab);\nglobal.set(\"bc\",msg.payload.bc);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"bir\",msg.payload.bir);\nglobal.set(\"des\",msg.payload.des);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\nglobal.set(\"checkout_price\",msg.payload.checkout_price);\nglobal.set(\"city_code\",msg.payload.city_code);\nglobal.set(\"region_code\",msg.payload.region_code);\n//following are required to receive a token\nvar apikey=\"M8HUBLcBuYVpMu8PXy6tv-hliJDGs_L7ZLqSx287s81-\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"x":1340,"y":1160,"wires":[["59caf1.ac38e51"]]},{"id":"38dc293f.bde076","type":"debug","z":"25ccdd2c.a33652","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1970,"y":1120,"wires":[]},{"id":"242a1879.518998","type":"debug","z":"25ccdd2c.a33652","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2030,"y":1240,"wires":[]},{"id":"57ef3696.da2408","type":"debug","z":"25ccdd2c.a33652","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1570,"y":1340,"wires":[]},{"id":"8faf27f9.44b298","type":"debug","z":"25ccdd2c.a33652","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":40,"wires":[]},{"id":"1696fb9e.9676e4","type":"debug","z":"25ccdd2c.a33652","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":960,"y":160,"wires":[]},{"id":"d4c2469c.22ea78","type":"debug","z":"25ccdd2c.a33652","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1390,"y":940,"wires":[]},{"id":"cc50821c.3c6b8","type":"debug","z":"25ccdd2c.a33652","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1840,"y":780,"wires":[]},{"id":"c70befbf.6b429","type":"debug","z":"25ccdd2c.a33652","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2030,"y":1320,"wires":[]},{"id":"a554635c.78c26","type":"change","z":"25ccdd2c.a33652","name":"Generate array payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\t {\t   \"week\": 1,\t   \"num_orders\": 4138\t },\t {\t   \"week\": 2,\t   \"num_orders\": 1372\t },\t {\t   \"week\": 3,\t   \"num_orders\": 4634\t },\t {\t   \"week\": 4,\t   \"num_orders\": 4399\t },\t {\t   \"week\": 5,\t   \"num_orders\": 4685\t },\t {\t   \"week\": 6,\t   \"num_orders\": 2924\t },\t {\t   \"week\": 7,\t   \"num_orders\": 217\t },\t {\t   \"week\": 8,\t   \"num_orders\": 893\t },\t {\t   \"week\": 9,\t   \"num_orders\": 3855\t },\t {\t   \"week\": 10,\t   \"num_orders\": 4286\t },\t {\t   \"week\": 11,\t   \"num_orders\": 4098\t },\t {\t   \"week\": 12,\t   \"num_orders\": 1088\t },\t {\t   \"week\": 13,\t   \"num_orders\": 808\t },\t {\t   \"week\": 14,\t   \"num_orders\": 3513\t },\t {\t   \"week\": 15,\t   \"num_orders\": 3128\t },\t {\t   \"week\": 16,\t   \"num_orders\": 3836\t },\t {\t   \"week\": 17,\t   \"num_orders\": 1435\t },\t {\t   \"week\": 18,\t   \"num_orders\": 3117\t },\t {\t   \"week\": 19,\t   \"num_orders\": 1254\t },\t {\t   \"week\": 20,\t   \"num_orders\": 3858\t },\t {\t   \"week\": 21,\t   \"num_orders\": 4574\t },\t {\t   \"week\": 22,\t   \"num_orders\": 598\t },\t {\t   \"week\": 23,\t   \"num_orders\": 4156\t },\t {\t   \"week\": 24,\t   \"num_orders\": 4439\t },\t {\t   \"week\": 25,\t   \"num_orders\": 4974\t },\t {\t   \"week\": 26,\t   \"num_orders\": 3037\t },\t {\t   \"week\": 27,\t   \"num_orders\": 1676\t },\t {\t   \"week\": 28,\t   \"num_orders\": 2372\t },\t {\t   \"week\": 29,\t   \"num_orders\": 787\t },\t {\t   \"week\": 30,\t   \"num_orders\": 4259\t },\t {\t   \"week\": 31,\t   \"num_orders\": 4150\t },\t {\t   \"week\": 32,\t   \"num_orders\": 1120\t },\t {\t   \"week\": 33,\t   \"num_orders\": 3001\t },\t {\t   \"week\": 34,\t   \"num_orders\": 3957\t },\t {\t   \"week\": 35,\t   \"num_orders\": 4077\t },\t {\t   \"week\": 36,\t   \"num_orders\": 4099\t },\t {\t   \"week\": 37,\t   \"num_orders\": 4884\t },\t {\t   \"week\": 38,\t   \"num_orders\": 4781\t },\t {\t   \"week\": 39,\t   \"num_orders\": 3366\t },\t {\t   \"week\": 40,\t   \"num_orders\": 323\t },\t {\t   \"week\": 41,\t   \"num_orders\": 467\t },\t {\t   \"week\": 42,\t   \"num_orders\": 1800\t },\t {\t   \"week\": 43,\t   \"num_orders\": 4201\t },\t {\t   \"week\": 44,\t   \"num_orders\": 3577\t },\t {\t   \"week\": 45,\t   \"num_orders\": 4012\t },\t {\t   \"week\": 46,\t   \"num_orders\": 3085\t },\t {\t   \"week\": 47,\t   \"num_orders\": 2116\t },\t {\t   \"week\": 48,\t   \"num_orders\": 486\t },\t {\t   \"week\": 49,\t   \"num_orders\": 3514\t },\t {\t   \"week\": 50,\t   \"num_orders\": 232\t },\t {\t   \"week\": 51,\t   \"num_orders\": 736\t },\t {\t   \"week\": 52,\t   \"num_orders\": 3390\t },\t {\t   \"week\": 53,\t   \"num_orders\": 3201\t },\t {\t   \"week\": 54,\t   \"num_orders\": 2934\t },\t {\t   \"week\": 55,\t   \"num_orders\": 4492\t },\t {\t   \"week\": 56,\t   \"num_orders\": 2039\t },\t {\t   \"week\": 57,\t   \"num_orders\": 2875\t },\t {\t   \"week\": 58,\t   \"num_orders\": 1211\t },\t {\t   \"week\": 59,\t   \"num_orders\": 601\t },\t {\t   \"week\": 60,\t   \"num_orders\": 4145\t },\t {\t   \"week\": 61,\t   \"num_orders\": 3577\t },\t {\t   \"week\": 62,\t   \"num_orders\": 2836\t },\t {\t   \"week\": 63,\t   \"num_orders\": 889\t },\t {\t   \"week\": 64,\t   \"num_orders\": 1730\t },\t {\t   \"week\": 65,\t   \"num_orders\": 2519\t },\t {\t   \"week\": 66,\t   \"num_orders\": 578\t },\t {\t   \"week\": 67,\t   \"num_orders\": 3863\t },\t {\t   \"week\": 68,\t   \"num_orders\": 4843\t },\t {\t   \"week\": 69,\t   \"num_orders\": 1071\t },\t {\t   \"week\": 70,\t   \"num_orders\": 1807\t },\t {\t   \"week\": 71,\t   \"num_orders\": 1667\t },\t {\t   \"week\": 72,\t   \"num_orders\": 2404\t },\t {\t   \"week\": 73,\t   \"num_orders\": 1563\t },\t {\t   \"week\": 74,\t   \"num_orders\": 234\t },\t {\t   \"week\": 75,\t   \"num_orders\": 2412\t },\t {\t   \"week\": 76,\t   \"num_orders\": 3408\t },\t {\t   \"week\": 77,\t   \"num_orders\": 4451\t },\t {\t   \"week\": 78,\t   \"num_orders\": 719\t },\t {\t   \"week\": 79,\t   \"num_orders\": 1389\t },\t {\t   \"week\": 80,\t   \"num_orders\": 2181\t },\t {\t   \"week\": 81,\t   \"num_orders\": 1188\t },\t {\t   \"week\": 82,\t   \"num_orders\": 3707\t },\t {\t   \"week\": 83,\t   \"num_orders\": 4553\t },\t {\t   \"week\": 84,\t   \"num_orders\": 3892\t },\t {\t   \"week\": 85,\t   \"num_orders\": 2016\t },\t {\t   \"week\": 86,\t   \"num_orders\": 2040\t },\t {\t   \"week\": 87,\t   \"num_orders\": 3784\t },\t {\t   \"week\": 88,\t   \"num_orders\": 3119\t },\t {\t   \"week\": 89,\t   \"num_orders\": 3987\t },\t {\t   \"week\": 90,\t   \"num_orders\": 2443\t },\t {\t   \"week\": 91,\t   \"num_orders\": 3125\t },\t {\t   \"week\": 92,\t   \"num_orders\": 4545\t },\t {\t   \"week\": 93,\t   \"num_orders\": 2446\t },\t {\t   \"week\": 94,\t   \"num_orders\": 3527\t },\t {\t   \"week\": 95,\t   \"num_orders\": 1262\t },\t {\t   \"week\": 96,\t   \"num_orders\": 968\t },\t {\t   \"week\": 97,\t   \"num_orders\": 4907\t },\t {\t   \"week\": 98,\t   \"num_orders\": 4757\t },\t {\t   \"week\": 99,\t   \"num_orders\": 2139\t },\t {\t   \"week\": 100,\t   \"num_orders\": 1831\t },\t {\t   \"week\": 101,\t   \"num_orders\": 4554\t },\t {\t   \"week\": 102,\t   \"num_orders\": 3583\t },\t {\t   \"week\": 103,\t   \"num_orders\": 3503\t },\t {\t   \"week\": 104,\t   \"num_orders\": 3592\t },\t {\t   \"week\": 105,\t   \"num_orders\": 167\t },\t {\t   \"week\": 106,\t   \"num_orders\": 2780\t },\t {\t   \"week\": 107,\t   \"num_orders\": 4807\t },\t {\t   \"week\": 108,\t   \"num_orders\": 4485\t },\t {\t   \"week\": 109,\t   \"num_orders\": 429\t },\t {\t   \"week\": 110,\t   \"num_orders\": 1257\t },\t {\t   \"week\": 111,\t   \"num_orders\": 1347\t },\t {\t   \"week\": 112,\t   \"num_orders\": 4390\t },\t {\t   \"week\": 113,\t   \"num_orders\": 1795\t },\t {\t   \"week\": 114,\t   \"num_orders\": 3641\t },\t {\t   \"week\": 115,\t   \"num_orders\": 4562\t },\t {\t   \"week\": 116,\t   \"num_orders\": 3972\t },\t {\t   \"week\": 117,\t   \"num_orders\": 1308\t },\t {\t   \"week\": 118,\t   \"num_orders\": 3614\t },\t {\t   \"week\": 119,\t   \"num_orders\": 2018\t },\t {\t   \"week\": 120,\t   \"num_orders\": 3681\t },\t {\t   \"week\": 121,\t   \"num_orders\": 4440\t },\t {\t   \"week\": 122,\t   \"num_orders\": 2899\t },\t {\t   \"week\": 123,\t   \"num_orders\": 945\t },\t {\t   \"week\": 124,\t   \"num_orders\": 1442\t },\t {\t   \"week\": 125,\t   \"num_orders\": 567\t },\t {\t   \"week\": 126,\t   \"num_orders\": 521\t },\t {\t   \"week\": 127,\t   \"num_orders\": 863\t },\t {\t   \"week\": 128,\t   \"num_orders\": 499\t },\t {\t   \"week\": 129,\t   \"num_orders\": 1934\t },\t {\t   \"week\": 130,\t   \"num_orders\": 1389\t },\t {\t   \"week\": 131,\t   \"num_orders\": 1212\t },\t {\t   \"week\": 132,\t   \"num_orders\": 104\t },\t {\t   \"week\": 133,\t   \"num_orders\": 912\t },\t {\t   \"week\": 134,\t   \"num_orders\": 1925\t },\t {\t   \"week\": 135,\t   \"num_orders\": 2269\t },\t {\t   \"week\": 136,\t   \"num_orders\": 2831\t },\t {\t   \"week\": 137,\t   \"num_orders\": 2507\t },\t {\t   \"week\": 138,\t   \"num_orders\": 2725\t },\t {\t   \"week\": 139,\t   \"num_orders\": 4965\t },\t {\t   \"week\": 140,\t   \"num_orders\": 1004\t },\t {\t   \"week\": 141,\t   \"num_orders\": 4168\t },\t {\t   \"week\": 142,\t   \"num_orders\": 164\t },\t {\t   \"week\": 143,\t   \"num_orders\": 855\t },\t {\t   \"week\": 144,\t   \"num_orders\": 3507\t },\t {\t   \"week\": 145,\t   \"num_orders\": 4621\t }\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1790,"y":1020,"wires":[["14c64c7.2665db4"]]},{"id":"14c64c7.2665db4","type":"csv","z":"25ccdd2c.a33652","name":"generate fulfilment_center_info.csv","sep":",","hdrin":"","hdrout":true,"multi":"one","ret":"\\n","temp":"week,num_orders","skip":"0","strings":true,"x":2080,"y":1020,"wires":[["cb3deede.8038a"]]},{"id":"cb3deede.8038a","type":"split","z":"25ccdd2c.a33652","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":2310,"y":1000,"wires":[["d1fc3437.49ba08"]]},{"id":"d1fc3437.49ba08","type":"function","z":"25ccdd2c.a33652","name":"find match","func":"var record = msg.payload.split(\",\");\nvar target = global.get(\"pqr\");\nvar quotient = Math.floor(target.week/140);\nvar remainder = target.week%140;\nvar t = (remainder)+5;\nif(t-5<=record[0] && t+5>=record[0])\n{\n\n    var res = parseInt(record[1]);\n    msg.payload = res;\n    msg.topic = record[0];//msg.topic = record[0]-5;//*quotient) + (target.week - remainder*quotient) -5;\n\n}\nelse\n{\n    return null;\n}\nreturn msg","outputs":1,"noerr":0,"x":2490,"y":1000,"wires":[["8bb37ed2.f0045","4dc6f58c.c62b6c","ebfc8a66.f91bd8"]]},{"id":"9725e28.5da0d2","type":"change","z":"25ccdd2c.a33652","name":"","rules":[{"t":"set","p":"pqr","pt":"global","to":"payload","tot":"msg"},{"t":"set","p":"i","pt":"global","to":"-5","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":1060,"wires":[["a554635c.78c26"]]},{"id":"ebfc8a66.f91bd8","type":"ui_chart","z":"25ccdd2c.a33652","name":"","group":"ba1f5358.a0e69","order":4,"width":"6","height":"10","label":"chart","chartType":"pie","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2850,"y":1000,"wires":[[]]},{"id":"8bb37ed2.f0045","type":"debug","z":"25ccdd2c.a33652","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2690,"y":960,"wires":[]},{"id":"4dc6f58c.c62b6c","type":"debug","z":"25ccdd2c.a33652","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":2700,"y":1060,"wires":[]},{"id":"59319321.675c3c","type":"function","z":"25ccdd2c.a33652","name":"","func":"msg.payload = []\nreturn msg;","outputs":1,"noerr":0,"x":2020,"y":620,"wires":[["ebfc8a66.f91bd8"]]},{"id":"f2d03248.fb129","type":"ui_form","z":"25ccdd2c.a33652","name":"","label":"","group":"9b541280.b252d","order":0,"width":0,"height":0,"options":[{"label":"Center ID","value":"center","type":"number","required":true,"rows":null},{"label":"Meal ID","value":"meal","type":"number","required":true,"rows":null},{"label":"Orders","value":"orders","type":"number","required":true,"rows":null},{"label":"Date","value":"date","type":"date","required":true,"rows":null}],"formValue":{"center":"","meal":"","orders":"","date":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":310,"y":2600,"wires":[["782e2bfd.e7f344","a9c3ed3c.11a7c"]]},{"id":"782e2bfd.e7f344","type":"debug","z":"25ccdd2c.a33652","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":2500,"wires":[]},{"id":"a9c3ed3c.11a7c","type":"function","z":"25ccdd2c.a33652","name":"","func":"var record = msg.payload.orders;\nvar meal = msg.payload.meal;\nmsg.payload = \"Updated Meal ID \" +meal+\" with \"+record+\" orders.\"\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":2620,"wires":[["adeabedc.7e51e"]]},{"id":"adeabedc.7e51e","type":"ui_toast","z":"25ccdd2c.a33652","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":false,"topic":"","name":"","x":770,"y":2600,"wires":[[]]},{"id":"252da589.80ac1a","type":"change","z":"25ccdd2c.a33652","name":"Generate array payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\t  {\t    \"center_id\": 55,\t    \"Thai\": 160945,\t    \"Indian\": 179256,\t    \"Italian\": 356325,\t    \"Continental\": 144720\t  },\t  {\t    \"center_id\": 24,\t    \"Thai\": 629700,\t    \"Indian\": 422496,\t    \"Italian\": 694225,\t    \"Continental\": 251114\t  },\t  {\t    \"center_id\": 11,\t    \"Thai\": 944453,\t    \"Indian\": 556555,\t    \"Italian\": 997747,\t    \"Continental\": 298545\t  },\t  {\t    \"center_id\": 83,\t    \"Thai\": 443408,\t    \"Indian\": 344519,\t    \"Italian\": 599139,\t    \"Continental\": 241898\t  },\t  {\t    \"center_id\": 32,\t    \"Thai\": 224328,\t    \"Indian\": 308111,\t    \"Italian\": 490850,\t    \"Continental\": 223906\t  },\t  {\t    \"center_id\": 13,\t    \"Thai\": 1554898,\t    \"Indian\": 932830,\t    \"Italian\": 1357839,\t    \"Continental\": 450978\t  },\t  {\t    \"center_id\": 109,\t    \"Thai\": 540278,\t    \"Indian\": 316522,\t    \"Italian\": 564183,\t    \"Continental\": 238585\t  },\t  {\t    \"center_id\": 52,\t    \"Thai\": 1067041,\t    \"Indian\": 675618,\t    \"Italian\": 1050540,\t    \"Continental\": 332636\t  },\t  {\t    \"center_id\": 93,\t    \"Thai\": 219115,\t    \"Indian\": 258716,\t    \"Italian\": 448641,\t    \"Continental\": 231692\t  },\t  {\t    \"center_id\": 186,\t    \"Thai\": 185359,\t    \"Indian\": 189342,\t    \"Italian\": 318182,\t    \"Continental\": 154099\t  },\t  {\t    \"center_id\": 146,\t    \"Thai\": 475034,\t    \"Indian\": 567995,\t    \"Italian\": 660638,\t    \"Continental\": 202868\t  },\t  {\t    \"center_id\": 57,\t    \"Thai\": 71772,\t    \"Indian\": 156940,\t    \"Italian\": 378525,\t    \"Continental\": 160776\t  },\t  {\t    \"center_id\": 149,\t    \"Thai\": 125446,\t    \"Indian\": 159228,\t    \"Italian\": 254614,\t    \"Continental\": 98239\t  },\t  {\t    \"center_id\": 89,\t    \"Thai\": 561797,\t    \"Indian\": 391621,\t    \"Italian\": 693965,\t    \"Continental\": 321817\t  },\t  {\t    \"center_id\": 124,\t    \"Thai\": 291536,\t    \"Indian\": 284323,\t    \"Italian\": 682048,\t    \"Continental\": 271117\t  },\t  {\t    \"center_id\": 152,\t    \"Thai\": 268835,\t    \"Indian\": 362902,\t    \"Italian\": 440223,\t    \"Continental\": 149981\t  },\t  {\t    \"center_id\": 97,\t    \"Thai\": 440705,\t    \"Indian\": 411821,\t    \"Italian\": 662403,\t    \"Continental\": 318498\t  },\t  {\t    \"center_id\": 74,\t    \"Thai\": 123743,\t    \"Indian\": 149745,\t    \"Italian\": 268946,\t    \"Continental\": 148610\t  },\t  {\t    \"center_id\": 108,\t    \"Thai\": 809208,\t    \"Indian\": 483123,\t    \"Italian\": 738308,\t    \"Continental\": 233403\t  },\t  {\t    \"center_id\": 99,\t    \"Thai\": 504316,\t    \"Indian\": 438420,\t    \"Italian\": 820732,\t    \"Continental\": 339814\t  },\t  {\t    \"center_id\": 66,\t    \"Thai\": 474927,\t    \"Indian\": 370419,\t    \"Italian\": 549734,\t    \"Continental\": 274661\t  },\t  {\t    \"center_id\": 94,\t    \"Thai\": 162270,\t    \"Indian\": 204685,\t    \"Italian\": 374504,\t    \"Continental\": 197594\t  },\t  {\t    \"center_id\": 91,\t    \"Thai\": 34096,\t    \"Indian\": 64158,\t    \"Italian\": 201817,\t    \"Continental\": 125089\t  },\t  {\t    \"center_id\": 20,\t    \"Thai\": 453181,\t    \"Indian\": 263960,\t    \"Italian\": 442608,\t    \"Continental\": 169363\t  },\t  {\t    \"center_id\": 34,\t    \"Thai\": 331032,\t    \"Indian\": 266242,\t    \"Italian\": 390046,\t    \"Continental\": 191577\t  },\t  {\t    \"center_id\": 137,\t    \"Thai\": 1153977,\t    \"Indian\": 683636,\t    \"Italian\": 990905,\t    \"Continental\": 288960\t  },\t  {\t    \"center_id\": 92,\t    \"Thai\": 55427,\t    \"Indian\": 232827,\t    \"Italian\": 477015,\t    \"Continental\": 133344\t  },\t  {\t    \"center_id\": 126,\t    \"Thai\": 622682,\t    \"Indian\": 314771,\t    \"Italian\": 694668,\t    \"Continental\": 230891\t  },\t  {\t    \"center_id\": 36,\t    \"Thai\": 734938,\t    \"Indian\": 366485,\t    \"Italian\": 650582,\t    \"Continental\": 235245\t  },\t  {\t    \"center_id\": 162,\t    \"Thai\": 60639,\t    \"Indian\": 125936,\t    \"Italian\": 359231,\t    \"Continental\": 134449\t  },\t  {\t    \"center_id\": 75,\t    \"Thai\": 413805,\t    \"Indian\": 495100,\t    \"Italian\": 592545,\t    \"Continental\": 237631\t  },\t  {\t    \"center_id\": 177,\t    \"Thai\": 184868,\t    \"Indian\": 201980,\t    \"Italian\": 429316,\t    \"Continental\": 205013\t  },\t  {\t    \"center_id\": 27,\t    \"Thai\": 783970,\t    \"Indian\": 460179,\t    \"Italian\": 768325,\t    \"Continental\": 285224\t  },\t  {\t    \"center_id\": 157,\t    \"Thai\": 433286,\t    \"Indian\": 270645,\t    \"Italian\": 438865,\t    \"Continental\": 223494\t  },\t  {\t    \"center_id\": 106,\t    \"Thai\": 324293,\t    \"Indian\": 250909,\t    \"Italian\": 463266,\t    \"Continental\": 310707\t  },\t  {\t    \"center_id\": 64,\t    \"Thai\": 240929,\t    \"Indian\": 243073,\t    \"Italian\": 381920,\t    \"Continental\": 133141\t  },\t  {\t    \"center_id\": 129,\t    \"Thai\": 323329,\t    \"Indian\": 246986,\t    \"Italian\": 390760,\t    \"Continental\": 152346\t  },\t  {\t    \"center_id\": 14,\t    \"Thai\": 353717,\t    \"Indian\": 221990,\t    \"Italian\": 415469,\t    \"Continental\": 203932\t  },\t  {\t    \"center_id\": 17,\t    \"Thai\": 400268,\t    \"Indian\": 232589,\t    \"Italian\": 412653,\t    \"Continental\": 172809\t  },\t  {\t    \"center_id\": 153,\t    \"Thai\": 423222,\t    \"Indian\": 366371,\t    \"Italian\": 584697,\t    \"Continental\": 161952\t  },\t  {\t    \"center_id\": 139,\t    \"Thai\": 89761,\t    \"Indian\": 143646,\t    \"Italian\": 392046,\t    \"Continental\": 117695\t  },\t  {\t    \"center_id\": 161,\t    \"Thai\": 260294,\t    \"Indian\": 195688,\t    \"Italian\": 252137,\t    \"Continental\": 105829\t  },\t  {\t    \"center_id\": 81,\t    \"Thai\": 259859,\t    \"Indian\": 273641,\t    \"Italian\": 420543,\t    \"Continental\": 185156\t  },\t  {\t    \"center_id\": 26,\t    \"Thai\": 135466,\t    \"Indian\": 203733,\t    \"Italian\": 392165,\t    \"Continental\": 162645\t  },\t  {\t    \"center_id\": 73,\t    \"Thai\": 206984,\t    \"Indian\": 267207,\t    \"Italian\": 422118,\t    \"Continental\": 173371\t  },\t  {\t    \"center_id\": 50,\t    \"Thai\": 461058,\t    \"Indian\": 295531,\t    \"Italian\": 455294,\t    \"Continental\": 192349\t  },\t  {\t    \"center_id\": 104,\t    \"Thai\": 782054,\t    \"Indian\": 460274,\t    \"Italian\": 889314,\t    \"Continental\": 295900\t  },\t  {\t    \"center_id\": 42,\t    \"Thai\": 319319,\t    \"Indian\": 233568,\t    \"Italian\": 338620,\t    \"Continental\": 137207\t  },\t  {\t    \"center_id\": 113,\t    \"Thai\": 126803,\t    \"Indian\": 335910,\t    \"Italian\": 669940,\t    \"Continental\": 192386\t  },\t  {\t    \"center_id\": 145,\t    \"Thai\": 328559,\t    \"Indian\": 314157,\t    \"Italian\": 535907,\t    \"Continental\": 288672\t  },\t  {\t    \"center_id\": 53,\t    \"Thai\": 372025,\t    \"Indian\": 230531,\t    \"Italian\": 406213,\t    \"Continental\": 137194\t  },\t  {\t    \"center_id\": 72,\t    \"Thai\": 382791,\t    \"Indian\": 294036,\t    \"Italian\": 662357,\t    \"Continental\": 234604\t  },\t  {\t    \"center_id\": 67,\t    \"Thai\": 1072326,\t    \"Indian\": 532893,\t    \"Italian\": 899206,\t    \"Continental\": 335068\t  },\t  {\t    \"center_id\": 174,\t    \"Thai\": 978810,\t    \"Indian\": 527179,\t    \"Italian\": 929073,\t    \"Continental\": 357525\t  },\t  {\t    \"center_id\": 29,\t    \"Thai\": 128117,\t    \"Indian\": 277542,\t    \"Italian\": 550931,\t    \"Continental\": 154995\t  },\t  {\t    \"center_id\": 77,\t    \"Thai\": 160494,\t    \"Indian\": 186899,\t    \"Italian\": 385816,\t    \"Continental\": 111311\t  },\t  {\t    \"center_id\": 41,\t    \"Thai\": 54164,\t    \"Indian\": 98202,\t    \"Italian\": 239402,\t    \"Continental\": 105570\t  },\t  {\t    \"center_id\": 30,\t    \"Thai\": 604300,\t    \"Indian\": 333556,\t    \"Italian\": 620185,\t    \"Continental\": 254126\t  },\t  {\t    \"center_id\": 76,\t    \"Thai\": 377279,\t    \"Indian\": 265721,\t    \"Italian\": 380993,\t    \"Continental\": 144746\t  },\t  {\t    \"center_id\": 59,\t    \"Thai\": 710960,\t    \"Indian\": 400935,\t    \"Italian\": 612118,\t    \"Continental\": 213208\t  },\t  {\t    \"center_id\": 88,\t    \"Thai\": 134316,\t    \"Indian\": 273098,\t    \"Italian\": 447092,\t    \"Continental\": 167083\t  },\t  {\t    \"center_id\": 143,\t    \"Thai\": 303148,\t    \"Indian\": 263436,\t    \"Italian\": 364428,\t    \"Continental\": 139326\t  },\t  {\t    \"center_id\": 58,\t    \"Thai\": 113782,\t    \"Indian\": 243787,\t    \"Italian\": 497594,\t    \"Continental\": 160757\t  },\t  {\t    \"center_id\": 10,\t    \"Thai\": 1014652,\t    \"Indian\": 863869,\t    \"Italian\": 1108967,\t    \"Continental\": 393530\t  },\t  {\t    \"center_id\": 101,\t    \"Thai\": 322782,\t    \"Indian\": 272094,\t    \"Italian\": 610684,\t    \"Continental\": 310211\t  },\t  {\t    \"center_id\": 80,\t    \"Thai\": 424915,\t    \"Indian\": 324424,\t    \"Italian\": 750384,\t    \"Continental\": 221477\t  },\t  {\t    \"center_id\": 43,\t    \"Thai\": 1268524,\t    \"Indian\": 835304,\t    \"Italian\": 1401590,\t    \"Continental\": 414876\t  },\t  {\t    \"center_id\": 65,\t    \"Thai\": 500846,\t    \"Indian\": 400333,\t    \"Italian\": 651121,\t    \"Continental\": 311330\t  },\t  {\t    \"center_id\": 39,\t    \"Thai\": 121164,\t    \"Indian\": 307483,\t    \"Italian\": 605816,\t    \"Continental\": 168519\t  },\t  {\t    \"center_id\": 102,\t    \"Thai\": 188139,\t    \"Indian\": 188985,\t    \"Italian\": 397142,\t    \"Continental\": 164316\t  },\t  {\t    \"center_id\": 110,\t    \"Thai\": 320243,\t    \"Indian\": 300242,\t    \"Italian\": 545129,\t    \"Continental\": 285432\t  },\t  {\t    \"center_id\": 132,\t    \"Thai\": 708512,\t    \"Indian\": 377940,\t    \"Italian\": 696548,\t    \"Continental\": 263793\t  },\t  {\t    \"center_id\": 23,\t    \"Thai\": 385922,\t    \"Indian\": 339949,\t    \"Italian\": 640670,\t    \"Continental\": 243365\t  },\t  {\t    \"center_id\": 86,\t    \"Thai\": 221728,\t    \"Indian\": 364496,\t    \"Italian\": 838433,\t    \"Continental\": 280986\t  },\t  {\t    \"center_id\": 68,\t    \"Thai\": 298484,\t    \"Indian\": 282273,\t    \"Italian\": 401081,\t    \"Continental\": 163063\t  },\t  {\t    \"center_id\": 51,\t    \"Thai\": 643228,\t    \"Indian\": 502555,\t    \"Italian\": 813131,\t    \"Continental\": 290255\t  },\t  {\t    \"center_id\": 61,\t    \"Thai\": 289089,\t    \"Indian\": 308403,\t    \"Italian\": 461645,\t    \"Continental\": 155845\t  }\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1720,"wires":[["c40ab3db.273c3"]]},{"id":"c40ab3db.273c3","type":"csv","z":"25ccdd2c.a33652","name":"generate cuisine info","sep":",","hdrin":"","hdrout":"all","multi":"one","ret":"\\n","temp":"center_id,Thai,Indian,Italian,Continental","skip":"0","strings":true,"x":920,"y":1720,"wires":[["71b10321.bb1a9c","5ceb54b8.16e83c"]]},{"id":"71b10321.bb1a9c","type":"split","z":"25ccdd2c.a33652","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1110,"y":1720,"wires":[["8054826c.5e7c2"]]},{"id":"8054826c.5e7c2","type":"function","z":"25ccdd2c.a33652","name":"find match","func":"var record = msg.payload.split(\",\");\nvar target = global.get(\"target\");\nif(target==record[0])\n{\n    msg.payload = record.slice(1,5);\n}\nelse\n{\n    return null;\n}\nreturn msg","outputs":1,"noerr":0,"x":1270,"y":1720,"wires":[["36ab4d9e.599ec2","fdf971d9.5fa86"]]},{"id":"d802c253.f674d","type":"change","z":"25ccdd2c.a33652","name":"","rules":[{"t":"set","p":"target","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":1720,"wires":[["252da589.80ac1a","a4884002.dd7cd"]]},{"id":"613eebd.84f1414","type":"ui_chart","z":"25ccdd2c.a33652","name":"","group":"988da0ff.eb01e","order":4,"width":"10","height":"10","label":"Cuisine ","chartType":"bar","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1000000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2220,"y":1680,"wires":[[]]},{"id":"a3dafefb.f39f3","type":"debug","z":"25ccdd2c.a33652","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1990,"y":1640,"wires":[]},{"id":"a4884002.dd7cd","type":"debug","z":"25ccdd2c.a33652","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":1600,"wires":[]},{"id":"5ceb54b8.16e83c","type":"debug","z":"25ccdd2c.a33652","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1040,"y":1620,"wires":[]},{"id":"36ab4d9e.599ec2","type":"splitter","z":"25ccdd2c.a33652","name":"","property":"payload","x":1430,"y":1720,"wires":[["3ba508a4.8ea438"]]},{"id":"3ba508a4.8ea438","type":"counter","z":"25ccdd2c.a33652","name":"","init":"0","step":"1","lower":"","upper":"","mode":"increment","outputs":"1","x":1580,"y":1720,"wires":[["7b95ceed.bb84e"]]},{"id":"7b95ceed.bb84e","type":"function","z":"25ccdd2c.a33652","name":"","func":"var topics = \"center_id,Thai,Indian,Italian,Continental\".split(\",\")\nmsg.payload = parseInt(msg.payload)\nmsg.topic = topics[msg.count%4];\nif(msg.count%4==0)\n{\n    msg.topic = topics[4];\n}\nreturn msg;","outputs":1,"noerr":0,"x":1760,"y":1720,"wires":[["a3dafefb.f39f3","78aee471.c3558c","613eebd.84f1414"]]},{"id":"78aee471.c3558c","type":"debug","z":"25ccdd2c.a33652","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":2020,"y":1740,"wires":[]},{"id":"8cae3f1f.9d79c","type":"change","z":"25ccdd2c.a33652","name":"Generate array payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\t  {\t    \"center_id\": 55,\t    \"Beverages\": 293252,\t    \"Rice Bowl\": 154215,\t    \"Starters\": 5494,\t    \"Pasta\": 4800,\t    \"Sandwich\": 148227,\t    \"Biryani\": 1278,\t    \"Extras\": 47979,\t    \"Pizza\": 56478,\t    \"Seafood\": 0,\t    \"Other Snacks\": 10824,\t    \"Desert\": 0,\t    \"Salad\": 92553,\t    \"Fish\": 1580,\t    \"Soup\": 0\t  },\t  {\t    \"center_id\": 24,\t    \"Beverages\": 725094,\t    \"Rice Bowl\": 343182,\t    \"Starters\": 80656,\t    \"Pasta\": 25869,\t    \"Sandwich\": 198528,\t    \"Biryani\": 14500,\t    \"Extras\": 49755,\t    \"Pizza\": 113702,\t    \"Seafood\": 0,\t    \"Other Snacks\": 116162,\t    \"Desert\": 0,\t    \"Salad\": 173974,\t    \"Fish\": 23300,\t    \"Soup\": 46802\t  },\t  {\t    \"center_id\": 11,\t    \"Beverages\": 986701,\t    \"Rice Bowl\": 471042,\t    \"Starters\": 85014,\t    \"Pasta\": 32653,\t    \"Sandwich\": 359188,\t    \"Biryani\": 8552,\t    \"Extras\": 255037,\t    \"Pizza\": 125596,\t    \"Seafood\": 0,\t    \"Other Snacks\": 134127,\t    \"Desert\": 0,\t    \"Salad\": 200939,\t    \"Fish\": 17339,\t    \"Soup\": 29501\t  },\t  {\t    \"center_id\": 83,\t    \"Beverages\": 575034,\t    \"Rice Bowl\": 276639,\t    \"Starters\": 98761,\t    \"Pasta\": 21205,\t    \"Sandwich\": 235629,\t    \"Biryani\": 10512,\t    \"Extras\": 0,\t    \"Pizza\": 86180,\t    \"Seafood\": 0,\t    \"Other Snacks\": 72825,\t    \"Desert\": 0,\t    \"Salad\": 172033,\t    \"Fish\": 14516,\t    \"Soup\": 0\t  },\t  {\t    \"center_id\": 32,\t    \"Beverages\": 347539,\t    \"Rice Bowl\": 237397,\t    \"Starters\": 54093,\t    \"Pasta\": 22816,\t    \"Sandwich\": 225862,\t    \"Biryani\": 7108,\t    \"Extras\": 0,\t    \"Pizza\": 103469,\t    \"Seafood\": 0,\t    \"Other Snacks\": 43378,\t    \"Desert\": 0,\t    \"Salad\": 132947,\t    \"Fish\": 17177,\t    \"Soup\": 0\t  },\t  {\t    \"center_id\": 13,\t    \"Beverages\": 1468872,\t    \"Rice Bowl\": 757860,\t    \"Starters\": 152475,\t    \"Pasta\": 68832,\t    \"Sandwich\": 461782,\t    \"Biryani\": 31836,\t    \"Extras\": 316567,\t    \"Pizza\": 193039,\t    \"Seafood\": 0,\t    \"Other Snacks\": 270218,\t    \"Desert\": 0,\t    \"Salad\": 256264,\t    \"Fish\": 54206,\t    \"Soup\": 79784\t  },\t  {\t    \"center_id\": 109,\t    \"Beverages\": 613579,\t    \"Rice Bowl\": 257970,\t    \"Starters\": 50502,\t    \"Pasta\": 22763,\t    \"Sandwich\": 209905,\t    \"Biryani\": 7681,\t    \"Extras\": 132249,\t    \"Pizza\": 106204,\t    \"Seafood\": 0,\t    \"Other Snacks\": 68523,\t    \"Desert\": 0,\t    \"Salad\": 111306,\t    \"Fish\": 0,\t    \"Soup\": 12568\t  },\t  {\t    \"center_id\": 52,\t    \"Beverages\": 1055192,\t    \"Rice Bowl\": 535639,\t    \"Starters\": 100578,\t    \"Pasta\": 53808,\t    \"Sandwich\": 352557,\t    \"Biryani\": 19114,\t    \"Extras\": 273888,\t    \"Pizza\": 152972,\t    \"Seafood\": 0,\t    \"Other Snacks\": 163356,\t    \"Desert\": 0,\t    \"Salad\": 225178,\t    \"Fish\": 27053,\t    \"Soup\": 41599\t  },\t  {\t    \"center_id\": 93,\t    \"Beverages\": 353736,\t    \"Rice Bowl\": 204077,\t    \"Starters\": 62433,\t    \"Pasta\": 20125,\t    \"Sandwich\": 209202,\t    \"Biryani\": 4395,\t    \"Extras\": 0,\t    \"Pizza\": 109096,\t    \"Seafood\": 0,\t    \"Other Snacks\": 25026,\t    \"Desert\": 0,\t    \"Salad\": 108227,\t    \"Fish\": 15433,\t    \"Soup\": 0\t  },\t  {\t    \"center_id\": 186,\t    \"Beverages\": 287999,\t    \"Rice Bowl\": 144700,\t    \"Starters\": 35075,\t    \"Pasta\": 14247,\t    \"Sandwich\": 150344,\t    \"Biryani\": 4292,\t    \"Extras\": 0,\t    \"Pizza\": 70376,\t    \"Seafood\": 0,\t    \"Other Snacks\": 23501,\t    \"Desert\": 0,\t    \"Salad\": 73410,\t    \"Fish\": 6311,\t    \"Soup\": 0\t  },\t  {\t    \"center_id\": 146,\t    \"Beverages\": 452277,\t    \"Rice Bowl\": 415010,\t    \"Starters\": 176195,\t    \"Pasta\": 46226,\t    \"Sandwich\": 274444,\t    \"Biryani\": 23414,\t    \"Extras\": 0,\t    \"Pizza\": 91123,\t    \"Seafood\": 0,\t    \"Other Snacks\": 117445,\t    \"Desert\": 0,\t    \"Salad\": 168927,\t    \"Fish\": 24454,\t    \"Soup\": 0\t  },\t  {\t    \"center_id\": 57,\t    \"Beverages\": 249360,\t    \"Rice Bowl\": 129241,\t    \"Starters\": 13383,\t    \"Pasta\": 7265,\t    \"Sandwich\": 137633,\t    \"Biryani\": 1239,\t    \"Extras\": 0,\t    \"Pizza\": 70414,\t    \"Seafood\": 0,\t    \"Other Snacks\": 1006,\t    \"Desert\": 0,\t    \"Salad\": 133834,\t    \"Fish\": 0,\t    \"Soup\": 0\t  },\t  {\t    \"center_id\": 149,\t    \"Beverages\": 245058,\t    \"Rice Bowl\": 121694,\t    \"Starters\": 21093,\t    \"Pasta\": 9794,\t    \"Sandwich\": 81496,\t    \"Biryani\": 2606,\t    \"Extras\": 0,\t    \"Pizza\": 41032,\t    \"Seafood\": 0,\t    \"Other Snacks\": 17361,\t    \"Desert\": 0,\t    \"Salad\": 71163,\t    \"Fish\": 0,\t    \"Soup\": 0\t  },\t  {\t    \"center_id\": 89,\t    \"Beverages\": 695232,\t    \"Rice Bowl\": 331728,\t    \"Starters\": 45083,\t    \"Pasta\": 26323,\t    \"Sandwich\": 250585,\t    \"Biryani\": 8139,\t    \"Extras\": 124961,\t    \"Pizza\": 160483,\t    \"Seafood\": 0,\t    \"Other Snacks\": 61662,\t    \"Desert\": 0,\t    \"Salad\": 145066,\t    \"Fish\": 13976,\t    \"Soup\": 36100\t  },\t  {\t    \"center_id\": 124,\t    \"Beverages\": 508221,\t    \"Rice Bowl\": 237535,\t    \"Starters\": 16870,\t    \"Pasta\": 8723,\t    \"Sandwich\": 283631,\t    \"Biryani\": 3878,\t    \"Extras\": 52762,\t    \"Pizza\": 113365,\t    \"Seafood\": 0,\t    \"Other Snacks\": 21221,\t    \"Desert\": 0,\t    \"Salad\": 233358,\t    \"Fish\": 4376,\t    \"Soup\": 5688\t  },\t  {\t    \"center_id\": 152,\t    \"Beverages\": 269770,\t    \"Rice Bowl\": 287629,\t    \"Starters\": 94734,\t    \"Pasta\": 25196,\t    \"Sandwich\": 206235,\t    \"Biryani\": 10701,\t    \"Extras\": 0,\t    \"Pizza\": 67303,\t    \"Seafood\": 0,\t    \"Other Snacks\": 56638,\t    \"Desert\": 0,\t    \"Salad\": 122369,\t    \"Fish\": 13557,\t    \"Soup\": 0\t  },\t  {\t    \"center_id\": 97,\t    \"Beverages\": 566748,\t    \"Rice Bowl\": 344857,\t    \"Starters\": 100961,\t    \"Pasta\": 22583,\t    \"Sandwich\": 289620,\t    \"Biryani\": 10112,\t    \"Extras\": 0,\t    \"Pizza\": 120674,\t    \"Seafood\": 0,\t    \"Other Snacks\": 77699,\t    \"Desert\": 0,\t    \"Salad\": 184634,\t    \"Fish\": 22771,\t    \"Soup\": 0\t  },\t  {\t    \"center_id\": 74,\t    \"Beverages\": 238242,\t    \"Rice Bowl\": 117132,\t    \"Starters\": 35935,\t    \"Pasta\": 8734,\t    \"Sandwich\": 100351,\t    \"Biryani\": 3256,\t    \"Extras\": 0,\t    \"Pizza\": 67452,\t    \"Seafood\": 0,\t    \"Other Snacks\": 7375,\t    \"Desert\": 0,\t    \"Salad\": 79897,\t    \"Fish\": 6414,\t    \"Soup\": 0\t  },\t  {\t    \"center_id\": 108,\t    \"Beverages\": 767097,\t    \"Rice Bowl\": 396964,\t    \"Starters\": 111255,\t    \"Pasta\": 37784,\t    \"Sandwich\": 281755,\t    \"Biryani\": 15710,\t    \"Extras\": 109187,\t    \"Pizza\": 104049,\t    \"Seafood\": 0,\t    \"Other Snacks\": 145125,\t    \"Desert\": 0,\t    \"Salad\": 156152,\t    \"Fish\": 20512,\t    \"Soup\": 28313\t  },\t  {\t    \"center_id\": 99,\t    \"Beverages\": 875923,\t    \"Rice Bowl\": 377526,\t    \"Starters\": 40270,\t    \"Pasta\": 18347,\t    \"Sandwich\": 293825,\t    \"Biryani\": 7476,\t    \"Extras\": 7964,\t    \"Pizza\": 142108,\t    \"Seafood\": 0,\t    \"Other Snacks\": 71639,\t    \"Desert\": 0,\t    \"Salad\": 161377,\t    \"Fish\": 11112,\t    \"Soup\": 23925\t  },\t  {\t    \"center_id\": 66,\t    \"Beverages\": 553735,\t    \"Rice Bowl\": 293558,\t    \"Starters\": 127169,\t    \"Pasta\": 22251,\t    \"Sandwich\": 253768,\t    \"Biryani\": 11813,\t    \"Extras\": 0,\t    \"Pizza\": 108737,\t    \"Seafood\": 0,\t    \"Other Snacks\": 62963,\t    \"Desert\": 0,\t    \"Salad\": 123373,\t    \"Fish\": 25922,\t    \"Soup\": 0\t  },\t  {\t    \"center_id\": 94,\t    \"Beverages\": 335305,\t    \"Rice Bowl\": 162561,\t    \"Starters\": 20062,\t    \"Pasta\": 12744,\t    \"Sandwich\": 157105,\t    \"Biryani\": 3414,\t    \"Extras\": 0,\t    \"Pizza\": 78146,\t    \"Seafood\": 0,\t    \"Other Snacks\": 20110,\t    \"Desert\": 0,\t    \"Salad\": 112984,\t    \"Fish\": 151,\t    \"Soup\": 0\t  },\t  {\t    \"center_id\": 91,\t    \"Beverages\": 117016,\t    \"Rice Bowl\": 54354,\t    \"Starters\": 1616,\t    \"Pasta\": 1493,\t    \"Sandwich\": 85130,\t    \"Biryani\": 0,\t    \"Extras\": 5827,\t    \"Pizza\": 74524,\t    \"Seafood\": 0,\t    \"Other Snacks\": 2262,\t    \"Desert\": 0,\t    \"Salad\": 75215,\t    \"Fish\": 0,\t    \"Soup\": 196\t  },\t  {\t    \"center_id\": 20,\t    \"Beverages\": 478798,\t    \"Rice Bowl\": 207516,\t    \"Starters\": 46023,\t    \"Pasta\": 19252,\t    \"Sandwich\": 158004,\t    \"Biryani\": 7982,\t    \"Extras\": 95011,\t    \"Pizza\": 78783,\t    \"Seafood\": 0,\t    \"Other Snacks\": 62096,\t    \"Desert\": 0,\t    \"Salad\": 86753,\t    \"Fish\": 11040,\t    \"Soup\": 18485\t  },\t  {\t    \"center_id\": 34,\t    \"Beverages\": 293179,\t    \"Rice Bowl\": 222015,\t    \"Starters\": 83624,\t    \"Pasta\": 20044,\t    \"Sandwich\": 181962,\t    \"Biryani\": 7748,\t    \"Extras\": 0,\t    \"Pizza\": 87045,\t    \"Seafood\": 0,\t    \"Other Snacks\": 91956,\t    \"Desert\": 0,\t    \"Salad\": 100882,\t    \"Fish\": 31610,\t    \"Soup\": 0\t  },\t  {\t    \"center_id\": 137,\t    \"Beverages\": 1128494,\t    \"Rice Bowl\": 566459,\t    \"Starters\": 118599,\t    \"Pasta\": 48602,\t    \"Sandwich\": 387559,\t    \"Biryani\": 15588,\t    \"Extras\": 207529,\t    \"Pizza\": 121537,\t    \"Seafood\": 0,\t    \"Other Snacks\": 166534,\t    \"Desert\": 0,\t    \"Salad\": 199391,\t    \"Fish\": 20616,\t    \"Soup\": 35477\t  },\t  {\t    \"center_id\": 92,\t    \"Beverages\": 216510,\t    \"Rice Bowl\": 171565,\t    \"Starters\": 9117,\t    \"Pasta\": 12660,\t    \"Sandwich\": 232000,\t    \"Biryani\": 2098,\t    \"Extras\": 0,\t    \"Pizza\": 60682,\t    \"Seafood\": 0,\t    \"Other Snacks\": 5202,\t    \"Desert\": 0,\t    \"Salad\": 154492,\t    \"Fish\": 0,\t    \"Soup\": 0\t  },\t  {\t    \"center_id\": 126,\t    \"Beverages\": 670005,\t    \"Rice Bowl\": 267074,\t    \"Starters\": 49689,\t    \"Pasta\": 18596,\t    \"Sandwich\": 265426,\t    \"Biryani\": 5547,\t    \"Extras\": 197095,\t    \"Pizza\": 103125,\t    \"Seafood\": 0,\t    \"Other Snacks\": 55816,\t    \"Desert\": 0,\t    \"Salad\": 149347,\t    \"Fish\": 9325,\t    \"Soup\": 6539\t  },\t  {\t    \"center_id\": 36,\t    \"Beverages\": 663831,\t    \"Rice Bowl\": 306809,\t    \"Starters\": 108978,\t    \"Pasta\": 25101,\t    \"Sandwich\": 262046,\t    \"Biryani\": 11027,\t    \"Extras\": 113680,\t    \"Pizza\": 106003,\t    \"Seafood\": 0,\t    \"Other Snacks\": 124091,\t    \"Desert\": 0,\t    \"Salad\": 135517,\t    \"Fish\": 25050,\t    \"Soup\": 29785\t  },\t  {\t    \"center_id\": 162,\t    \"Beverages\": 142935,\t    \"Rice Bowl\": 101215,\t    \"Starters\": 13220,\t    \"Pasta\": 7557,\t    \"Sandwich\": 174877,\t    \"Biryani\": 2251,\t    \"Extras\": 0,\t    \"Pizza\": 71422,\t    \"Seafood\": 0,\t    \"Other Snacks\": 6886,\t    \"Desert\": 0,\t    \"Salad\": 135132,\t    \"Fish\": 0,\t    \"Soup\": 0\t  },\t  {\t    \"center_id\": 75,\t    \"Beverages\": 490744,\t    \"Rice Bowl\": 375028,\t    \"Starters\": 143869,\t    \"Pasta\": 42168,\t    \"Sandwich\": 191123,\t    \"Biryani\": 16259,\t    \"Extras\": 0,\t    \"Pizza\": 110526,\t    \"Seafood\": 0,\t    \"Other Snacks\": 91726,\t    \"Desert\": 0,\t    \"Salad\": 168086,\t    \"Fish\": 14780,\t    \"Soup\": 0\t  },\t  {\t    \"center_id\": 177,\t    \"Beverages\": 405660,\t    \"Rice Bowl\": 168992,\t    \"Starters\": 33865,\t    \"Pasta\": 13232,\t    \"Sandwich\": 145880,\t    \"Biryani\": 3738,\t    \"Extras\": 0,\t    \"Pizza\": 66578,\t    \"Seafood\": 0,\t    \"Other Snacks\": 24546,\t    \"Desert\": 0,\t    \"Salad\": 129121,\t    \"Fish\": 3642,\t    \"Soup\": 0\t  },\t  {\t    \"center_id\": 27,\t    \"Beverages\": 954873,\t    \"Rice Bowl\": 385999,\t    \"Starters\": 62113,\t    \"Pasta\": 25391,\t    \"Sandwich\": 263419,\t    \"Biryani\": 9973,\t    \"Extras\": 57216,\t    \"Pizza\": 133191,\t    \"Seafood\": 0,\t    \"Other Snacks\": 79126,\t    \"Desert\": 0,\t    \"Salad\": 142425,\t    \"Fish\": 15112,\t    \"Soup\": 90309\t  },\t  {\t    \"center_id\": 157,\t    \"Beverages\": 589661,\t    \"Rice Bowl\": 217300,\t    \"Starters\": 42027,\t    \"Pasta\": 22048,\t    \"Sandwich\": 213456,\t    \"Biryani\": 5764,\t    \"Extras\": 0,\t    \"Pizza\": 93988,\t    \"Seafood\": 0,\t    \"Other Snacks\": 23240,\t    \"Desert\": 0,\t    \"Salad\": 92301,\t    \"Fish\": 19906,\t    \"Soup\": 0\t  },\t  {\t    \"center_id\": 106,\t    \"Beverages\": 528434,\t    \"Rice Bowl\": 208130,\t    \"Starters\": 58075,\t    \"Pasta\": 15134,\t    \"Sandwich\": 217281,\t    \"Biryani\": 6105,\t    \"Extras\": 0,\t    \"Pizza\": 92813,\t    \"Seafood\": 0,\t    \"Other Snacks\": 45013,\t    \"Desert\": 0,\t    \"Salad\": 116293,\t    \"Fish\": 10655,\t    \"Soup\": 0\t  },\t  {\t    \"center_id\": 64,\t    \"Beverages\": 370941,\t    \"Rice Bowl\": 198713,\t    \"Starters\": 51332,\t    \"Pasta\": 14864,\t    \"Sandwich\": 117094,\t    \"Biryani\": 6502,\t    \"Extras\": 0,\t    \"Pizza\": 47726,\t    \"Seafood\": 0,\t    \"Other Snacks\": 48504,\t    \"Desert\": 0,\t    \"Salad\": 104806,\t    \"Fish\": 2100,\t    \"Soup\": 0\t  },\t  {\t    \"center_id\": 129,\t    \"Beverages\": 401395,\t    \"Rice Bowl\": 198777,\t    \"Starters\": 57965,\t    \"Pasta\": 14972,\t    \"Sandwich\": 169963,\t    \"Biryani\": 8903,\t    \"Extras\": 0,\t    \"Pizza\": 59292,\t    \"Seafood\": 0,\t    \"Other Snacks\": 50458,\t    \"Desert\": 0,\t    \"Salad\": 91877,\t    \"Fish\": 14521,\t    \"Soup\": 0\t  },\t  {\t    \"center_id\": 14,\t    \"Beverages\": 484662,\t    \"Rice Bowl\": 178731,\t    \"Starters\": 23691,\t    \"Pasta\": 11114,\t    \"Sandwich\": 152733,\t    \"Biryani\": 4652,\t    \"Extras\": 82782,\t    \"Pizza\": 80348,\t    \"Seafood\": 0,\t    \"Other Snacks\": 31030,\t    \"Desert\": 0,\t    \"Salad\": 91652,\t    \"Fish\": 1852,\t    \"Soup\": 8788\t  },\t  {\t    \"center_id\": 17,\t    \"Beverages\": 436871,\t    \"Rice Bowl\": 187947,\t    \"Starters\": 44161,\t    \"Pasta\": 16170,\t    \"Sandwich\": 141573,\t    \"Biryani\": 6713,\t    \"Extras\": 95766,\t    \"Pizza\": 72348,\t    \"Seafood\": 0,\t    \"Other Snacks\": 60320,\t    \"Desert\": 0,\t    \"Salad\": 89192,\t    \"Fish\": 4890,\t    \"Soup\": 7014\t  },\t  {\t    \"center_id\": 153,\t    \"Beverages\": 467022,\t    \"Rice Bowl\": 297119,\t    \"Starters\": 51658,\t    \"Pasta\": 21307,\t    \"Sandwich\": 238787,\t    \"Biryani\": 7140,\t    \"Extras\": 82319,\t    \"Pizza\": 71539,\t    \"Seafood\": 0,\t    \"Other Snacks\": 63086,\t    \"Desert\": 0,\t    \"Salad\": 143090,\t    \"Fish\": 13171,\t    \"Soup\": 18813\t  },\t  {\t    \"center_id\": 139,\t    \"Beverages\": 217818,\t    \"Rice Bowl\": 115610,\t    \"Starters\": 9969,\t    \"Pasta\": 8884,\t    \"Sandwich\": 155878,\t    \"Biryani\": 1407,\t    \"Extras\": 0,\t    \"Pizza\": 54583,\t    \"Seafood\": 0,\t    \"Other Snacks\": 4025,\t    \"Desert\": 0,\t    \"Salad\": 153736,\t    \"Fish\": 447,\t    \"Soup\": 0\t  },\t  {\t    \"center_id\": 161,\t    \"Beverages\": 224028,\t    \"Rice Bowl\": 163630,\t    \"Starters\": 67713,\t    \"Pasta\": 14576,\t    \"Sandwich\": 129867,\t    \"Biryani\": 5606,\t    \"Extras\": 0,\t    \"Pizza\": 47976,\t    \"Seafood\": 0,\t    \"Other Snacks\": 57670,\t    \"Desert\": 0,\t    \"Salad\": 54185,\t    \"Fish\": 8741,\t    \"Soup\": 0\t  },\t  {\t    \"center_id\": 81,\t    \"Beverages\": 381617,\t    \"Rice Bowl\": 207271,\t    \"Starters\": 41416,\t    \"Pasta\": 20828,\t    \"Sandwich\": 183266,\t    \"Biryani\": 8537,\t    \"Extras\": 0,\t    \"Pizza\": 76840,\t    \"Seafood\": 0,\t    \"Other Snacks\": 47904,\t    \"Desert\": 0,\t    \"Salad\": 108665,\t    \"Fish\": 8290,\t    \"Soup\": 0\t  },\t  {\t    \"center_id\": 26,\t    \"Beverages\": 333196,\t    \"Rice Bowl\": 164002,\t    \"Starters\": 17147,\t    \"Pasta\": 13048,\t    \"Sandwich\": 143354,\t    \"Biryani\": 3171,\t    \"Extras\": 0,\t    \"Pizza\": 57072,\t    \"Seafood\": 0,\t    \"Other Snacks\": 15558,\t    \"Desert\": 0,\t    \"Salad\": 122668,\t    \"Fish\": 0,\t    \"Soup\": 0\t  },\t  {\t    \"center_id\": 73,\t    \"Beverages\": 286392,\t    \"Rice Bowl\": 201987,\t    \"Starters\": 50364,\t    \"Pasta\": 18651,\t    \"Sandwich\": 198959,\t    \"Biryani\": 7139,\t    \"Extras\": 0,\t    \"Pizza\": 87859,\t    \"Seafood\": 0,\t    \"Other Snacks\": 33223,\t    \"Desert\": 0,\t    \"Salad\": 127332,\t    \"Fish\": 0,\t    \"Soup\": 0\t  },\t  {\t    \"center_id\": 50,\t    \"Beverages\": 464838,\t    \"Rice Bowl\": 235716,\t    \"Starters\": 113221,\t    \"Pasta\": 19717,\t    \"Sandwich\": 182359,\t    \"Biryani\": 10843,\t    \"Extras\": 0,\t    \"Pizza\": 67964,\t    \"Seafood\": 0,\t    \"Other Snacks\": 106526,\t    \"Desert\": 0,\t    \"Salad\": 129818,\t    \"Fish\": 11739,\t    \"Soup\": 0\t  },\t  {\t    \"center_id\": 104,\t    \"Beverages\": 943388,\t    \"Rice Bowl\": 386828,\t    \"Starters\": 47619,\t    \"Pasta\": 24033,\t    \"Sandwich\": 336339,\t    \"Biryani\": 6219,\t    \"Extras\": 201008,\t    \"Pizza\": 116435,\t    \"Seafood\": 0,\t    \"Other Snacks\": 71868,\t    \"Desert\": 0,\t    \"Salad\": 184769,\t    \"Fish\": 12112,\t    \"Soup\": 18659\t  },\t  {\t    \"center_id\": 42,\t    \"Beverages\": 316767,\t    \"Rice Bowl\": 185533,\t    \"Starters\": 105227,\t    \"Pasta\": 16295,\t    \"Sandwich\": 136877,\t    \"Biryani\": 8470,\t    \"Extras\": 0,\t    \"Pizza\": 54954,\t    \"Seafood\": 0,\t    \"Other Snacks\": 56635,\t    \"Desert\": 0,\t    \"Salad\": 83449,\t    \"Fish\": 16040,\t    \"Soup\": 0\t  },\t  {\t    \"center_id\": 113,\t    \"Beverages\": 370980,\t    \"Rice Bowl\": 260497,\t    \"Starters\": 18561,\t    \"Pasta\": 17121,\t    \"Sandwich\": 299002,\t    \"Biryani\": 3723,\t    \"Extras\": 0,\t    \"Pizza\": 95600,\t    \"Seafood\": 0,\t    \"Other Snacks\": 16146,\t    \"Desert\": 0,\t    \"Salad\": 196311,\t    \"Fish\": 1831,\t    \"Soup\": 0\t  },\t  {\t    \"center_id\": 145,\t    \"Beverages\": 548136,\t    \"Rice Bowl\": 254153,\t    \"Starters\": 63880,\t    \"Pasta\": 22323,\t    \"Sandwich\": 187152,\t    \"Biryani\": 8055,\t    \"Extras\": 0,\t    \"Pizza\": 105461,\t    \"Seafood\": 0,\t    \"Other Snacks\": 64498,\t    \"Desert\": 0,\t    \"Salad\": 150573,\t    \"Fish\": 110,\t    \"Soup\": 0\t  },\t  {\t    \"center_id\": 53,\t    \"Beverages\": 418305,\t    \"Rice Bowl\": 181091,\t    \"Starters\": 38987,\t    \"Pasta\": 13174,\t    \"Sandwich\": 148742,\t    \"Biryani\": 6465,\t    \"Extras\": 78755,\t    \"Pizza\": 59515,\t    \"Seafood\": 0,\t    \"Other Snacks\": 40679,\t    \"Desert\": 0,\t    \"Salad\": 93055,\t    \"Fish\": 5580,\t    \"Soup\": 16711\t  },\t  {\t    \"center_id\": 72,\t    \"Beverages\": 590407,\t    \"Rice Bowl\": 259576,\t    \"Starters\": 26310,\t    \"Pasta\": 13789,\t    \"Sandwich\": 263778,\t    \"Biryani\": 4751,\t    \"Extras\": 50153,\t    \"Pizza\": 109687,\t    \"Seafood\": 0,\t    \"Other Snacks\": 28345,\t    \"Desert\": 0,\t    \"Salad\": 163911,\t    \"Fish\": 3147,\t    \"Soup\": 19917\t  },\t  {\t    \"center_id\": 67,\t    \"Beverages\": 989180,\t    \"Rice Bowl\": 441034,\t    \"Starters\": 136339,\t    \"Pasta\": 38044,\t    \"Sandwich\": 357053,\t    \"Biryani\": 20777,\t    \"Extras\": 172770,\t    \"Pizza\": 152977,\t    \"Seafood\": 0,\t    \"Other Snacks\": 153672,\t    \"Desert\": 0,\t    \"Salad\": 186819,\t    \"Fish\": 30189,\t    \"Soup\": 43841\t  },\t  {\t    \"center_id\": 174,\t    \"Beverages\": 1182743,\t    \"Rice Bowl\": 428419,\t    \"Starters\": 75424,\t    \"Pasta\": 33540,\t    \"Sandwich\": 336595,\t    \"Biryani\": 17173,\t    \"Extras\": 78646,\t    \"Pizza\": 159252,\t    \"Seafood\": 0,\t    \"Other Snacks\": 124569,\t    \"Desert\": 0,\t    \"Salad\": 171279,\t    \"Fish\": 21159,\t    \"Soup\": 58789\t  },\t  {\t    \"center_id\": 29,\t    \"Beverages\": 296569,\t    \"Rice Bowl\": 212698,\t    \"Starters\": 21360,\t    \"Pasta\": 19228,\t    \"Sandwich\": 265413,\t    \"Biryani\": 3296,\t    \"Extras\": 0,\t    \"Pizza\": 73161,\t    \"Seafood\": 0,\t    \"Other Snacks\": 16953,\t    \"Desert\": 0,\t    \"Salad\": 159850,\t    \"Fish\": 3860,\t    \"Soup\": 0\t  },\t  {\t    \"center_id\": 77,\t    \"Beverages\": 262096,\t    \"Rice Bowl\": 138871,\t    \"Starters\": 23565,\t    \"Pasta\": 10659,\t    \"Sandwich\": 192908,\t    \"Biryani\": 4304,\t    \"Extras\": 0,\t    \"Pizza\": 51385,\t    \"Seafood\": 0,\t    \"Other Snacks\": 14813,\t    \"Desert\": 0,\t    \"Salad\": 112056,\t    \"Fish\": 1039,\t    \"Soup\": 0\t  },\t  {\t    \"center_id\": 41,\t    \"Beverages\": 128508,\t    \"Rice Bowl\": 80847,\t    \"Starters\": 5081,\t    \"Pasta\": 6825,\t    \"Sandwich\": 101665,\t    \"Biryani\": 718,\t    \"Extras\": 5331,\t    \"Pizza\": 59781,\t    \"Seafood\": 0,\t    \"Other Snacks\": 6173,\t    \"Desert\": 0,\t    \"Salad\": 86261,\t    \"Fish\": 0,\t    \"Soup\": 889\t  },\t  {\t    \"center_id\": 30,\t    \"Beverages\": 682590,\t    \"Rice Bowl\": 279718,\t    \"Starters\": 64094,\t    \"Pasta\": 20936,\t    \"Sandwich\": 253228,\t    \"Biryani\": 8387,\t    \"Extras\": 63617,\t    \"Pizza\": 114236,\t    \"Seafood\": 0,\t    \"Other Snacks\": 84095,\t    \"Desert\": 0,\t    \"Salad\": 140492,\t    \"Fish\": 8056,\t    \"Soup\": 21547\t  },\t  {\t    \"center_id\": 76,\t    \"Beverages\": 421488,\t    \"Rice Bowl\": 208400,\t    \"Starters\": 40678,\t    \"Pasta\": 13517,\t    \"Sandwich\": 125783,\t    \"Biryani\": 7429,\t    \"Extras\": 59654,\t    \"Pizza\": 80694,\t    \"Seafood\": 0,\t    \"Other Snacks\": 58427,\t    \"Desert\": 0,\t    \"Salad\": 67300,\t    \"Fish\": 0,\t    \"Soup\": 38812\t  },\t  {\t    \"center_id\": 59,\t    \"Beverages\": 731120,\t    \"Rice Bowl\": 337267,\t    \"Starters\": 78936,\t    \"Pasta\": 25101,\t    \"Sandwich\": 214499,\t    \"Biryani\": 10443,\t    \"Extras\": 112637,\t    \"Pizza\": 100030,\t    \"Seafood\": 0,\t    \"Other Snacks\": 100594,\t    \"Desert\": 0,\t    \"Salad\": 124238,\t    \"Fish\": 11927,\t    \"Soup\": 16996\t  },\t  {\t    \"center_id\": 88,\t    \"Beverages\": 277580,\t    \"Rice Bowl\": 200097,\t    \"Starters\": 29562,\t    \"Pasta\": 19000,\t    \"Sandwich\": 207655,\t    \"Biryani\": 5233,\t    \"Extras\": 0,\t    \"Pizza\": 69677,\t    \"Seafood\": 0,\t    \"Other Snacks\": 24891,\t    \"Desert\": 0,\t    \"Salad\": 138518,\t    \"Fish\": 4605,\t    \"Soup\": 0\t  },\t  {\t    \"center_id\": 143,\t    \"Beverages\": 255075,\t    \"Rice Bowl\": 209614,\t    \"Starters\": 102786,\t    \"Pasta\": 21642,\t    \"Sandwich\": 177943,\t    \"Biryani\": 10361,\t    \"Extras\": 0,\t    \"Pizza\": 59705,\t    \"Seafood\": 0,\t    \"Other Snacks\": 62514,\t    \"Desert\": 0,\t    \"Salad\": 101121,\t    \"Fish\": 17204,\t    \"Soup\": 0\t  },\t  {\t    \"center_id\": 58,\t    \"Beverages\": 320380,\t    \"Rice Bowl\": 194628,\t    \"Starters\": 23078,\t    \"Pasta\": 12268,\t    \"Sandwich\": 191060,\t    \"Biryani\": 2642,\t    \"Extras\": 0,\t    \"Pizza\": 55286,\t    \"Seafood\": 0,\t    \"Other Snacks\": 14562,\t    \"Desert\": 0,\t    \"Salad\": 166749,\t    \"Fish\": 3441,\t    \"Soup\": 0\t  },\t  {\t    \"center_id\": 10,\t    \"Beverages\": 1064682,\t    \"Rice Bowl\": 654944,\t    \"Starters\": 133673,\t    \"Pasta\": 74793,\t    \"Sandwich\": 350909,\t    \"Biryani\": 23842,\t    \"Extras\": 215273,\t    \"Pizza\": 171859,\t    \"Seafood\": 0,\t    \"Other Snacks\": 192677,\t    \"Desert\": 0,\t    \"Salad\": 249133,\t    \"Fish\": 49140,\t    \"Soup\": 26420\t  },\t  {\t    \"center_id\": 101,\t    \"Beverages\": 552360,\t    \"Rice Bowl\": 228758,\t    \"Starters\": 25763,\t    \"Pasta\": 10351,\t    \"Sandwich\": 228398,\t    \"Biryani\": 3863,\t    \"Extras\": 49638,\t    \"Pizza\": 140331,\t    \"Seafood\": 0,\t    \"Other Snacks\": 22360,\t    \"Desert\": 0,\t    \"Salad\": 167650,\t    \"Fish\": 14,\t    \"Soup\": 38768\t  },\t  {\t    \"center_id\": 80,\t    \"Beverages\": 603494,\t    \"Rice Bowl\": 275138,\t    \"Starters\": 24023,\t    \"Pasta\": 13433,\t    \"Sandwich\": 311112,\t    \"Biryani\": 4298,\t    \"Extras\": 51719,\t    \"Pizza\": 107474,\t    \"Seafood\": 0,\t    \"Other Snacks\": 36100,\t    \"Desert\": 0,\t    \"Salad\": 221674,\t    \"Fish\": 3482,\t    \"Soup\": 25186\t  },\t  {\t    \"center_id\": 43,\t    \"Beverages\": 1315265,\t    \"Rice Bowl\": 680779,\t    \"Starters\": 98029,\t    \"Pasta\": 46403,\t    \"Sandwich\": 572477,\t    \"Biryani\": 16984,\t    \"Extras\": 331144,\t    \"Pizza\": 189614,\t    \"Seafood\": 0,\t    \"Other Snacks\": 144147,\t    \"Desert\": 0,\t    \"Salad\": 326916,\t    \"Fish\": 19594,\t    \"Soup\": 57964\t  },\t  {\t    \"center_id\": 65,\t    \"Beverages\": 518319,\t    \"Rice Bowl\": 333857,\t    \"Starters\": 155847,\t    \"Pasta\": 21518,\t    \"Sandwich\": 342541,\t    \"Biryani\": 11419,\t    \"Extras\": 0,\t    \"Pizza\": 129137,\t    \"Seafood\": 0,\t    \"Other Snacks\": 85422,\t    \"Desert\": 0,\t    \"Salad\": 152662,\t    \"Fish\": 25621,\t    \"Soup\": 0\t  },\t  {\t    \"center_id\": 39,\t    \"Beverages\": 296907,\t    \"Rice Bowl\": 215796,\t    \"Starters\": 19953,\t    \"Pasta\": 19995,\t    \"Sandwich\": 276709,\t    \"Biryani\": 5431,\t    \"Extras\": 0,\t    \"Pizza\": 87546,\t    \"Seafood\": 0,\t    \"Other Snacks\": 10326,\t    \"Desert\": 0,\t    \"Salad\": 217613,\t    \"Fish\": 1934,\t    \"Soup\": 0\t  },\t  {\t    \"center_id\": 102,\t    \"Beverages\": 374415,\t    \"Rice Bowl\": 161229,\t    \"Starters\": 18078,\t    \"Pasta\": 8600,\t    \"Sandwich\": 147793,\t    \"Biryani\": 2732,\t    \"Extras\": 0,\t    \"Pizza\": 53778,\t    \"Seafood\": 0,\t    \"Other Snacks\": 16530,\t    \"Desert\": 0,\t    \"Salad\": 130321,\t    \"Fish\": 0,\t    \"Soup\": 0\t  },\t  {\t    \"center_id\": 110,\t    \"Beverages\": 544375,\t    \"Rice Bowl\": 246029,\t    \"Starters\": 71838,\t    \"Pasta\": 19711,\t    \"Sandwich\": 227465,\t    \"Biryani\": 8097,\t    \"Extras\": 0,\t    \"Pizza\": 97504,\t    \"Seafood\": 0,\t    \"Other Snacks\": 38599,\t    \"Desert\": 0,\t    \"Salad\": 136571,\t    \"Fish\": 8883,\t    \"Soup\": 0\t  },\t  {\t    \"center_id\": 132,\t    \"Beverages\": 795541,\t    \"Rice Bowl\": 320284,\t    \"Starters\": 71226,\t    \"Pasta\": 26193,\t    \"Sandwich\": 258500,\t    \"Biryani\": 11893,\t    \"Extras\": 90409,\t    \"Pizza\": 118620,\t    \"Seafood\": 0,\t    \"Other Snacks\": 107977,\t    \"Desert\": 0,\t    \"Salad\": 133404,\t    \"Fish\": 14736,\t    \"Soup\": 26277\t  },\t  {\t    \"center_id\": 23,\t    \"Beverages\": 599054,\t    \"Rice Bowl\": 290422,\t    \"Starters\": 30278,\t    \"Pasta\": 13823,\t    \"Sandwich\": 241290,\t    \"Biryani\": 4243,\t    \"Extras\": 43629,\t    \"Pizza\": 101265,\t    \"Seafood\": 0,\t    \"Other Snacks\": 48207,\t    \"Desert\": 0,\t    \"Salad\": 128456,\t    \"Fish\": 12290,\t    \"Soup\": 42662\t  },\t  {\t    \"center_id\": 86,\t    \"Beverages\": 448428,\t    \"Rice Bowl\": 310142,\t    \"Starters\": 19801,\t    \"Pasta\": 11840,\t    \"Sandwich\": 424549,\t    \"Biryani\": 3353,\t    \"Extras\": 2510,\t    \"Pizza\": 173129,\t    \"Seafood\": 0,\t    \"Other Snacks\": 20529,\t    \"Desert\": 0,\t    \"Salad\": 215865,\t    \"Fish\": 1508,\t    \"Soup\": 31073\t  },\t  {\t    \"center_id\": 68,\t    \"Beverages\": 304572,\t    \"Rice Bowl\": 224213,\t    \"Starters\": 97078,\t    \"Pasta\": 20609,\t    \"Sandwich\": 197444,\t    \"Biryani\": 8908,\t    \"Extras\": 0,\t    \"Pizza\": 72699,\t    \"Seafood\": 0,\t    \"Other Snacks\": 55474,\t    \"Desert\": 0,\t    \"Salad\": 87150,\t    \"Fish\": 19608,\t    \"Soup\": 0\t  },\t  {\t    \"center_id\": 51,\t    \"Beverages\": 796211,\t    \"Rice Bowl\": 420726,\t    \"Starters\": 61751,\t    \"Pasta\": 28325,\t    \"Sandwich\": 308454,\t    \"Biryani\": 13864,\t    \"Extras\": 70512,\t    \"Pizza\": 142487,\t    \"Seafood\": 0,\t    \"Other Snacks\": 100501,\t    \"Desert\": 0,\t    \"Salad\": 174846,\t    \"Fish\": 15639,\t    \"Soup\": 35449\t  },\t  {\t    \"center_id\": 61,\t    \"Beverages\": 318704,\t    \"Rice Bowl\": 252360,\t    \"Starters\": 92754,\t    \"Pasta\": 16158,\t    \"Sandwich\": 199781,\t    \"Biryani\": 8756,\t    \"Extras\": 0,\t    \"Pizza\": 74679,\t    \"Seafood\": 0,\t    \"Other Snacks\": 63028,\t    \"Desert\": 0,\t    \"Salad\": 133383,\t    \"Fish\": 11563,\t    \"Soup\": 0\t  }\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":2080,"wires":[["120023cc.ef04dc"]]},{"id":"120023cc.ef04dc","type":"csv","z":"25ccdd2c.a33652","name":"generate cuisine info","sep":",","hdrin":"","hdrout":"all","multi":"one","ret":"\\n","temp":"center_id,Beverages,Rice Bowl,Starters,Pasta,Sandwich,Biryani,Extras,Pizza,Seafood,Other Snacks,Desert,Salad,Fish,Soup","skip":"0","strings":true,"x":900,"y":2080,"wires":[["328a2159.165b8e","6e1cd6d.d447028"]]},{"id":"328a2159.165b8e","type":"split","z":"25ccdd2c.a33652","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1090,"y":2080,"wires":[["cb6c51d8.0119c"]]},{"id":"cb6c51d8.0119c","type":"function","z":"25ccdd2c.a33652","name":"find match","func":"var record = msg.payload.split(\",\");\nvar target = global.get(\"target\");\nif(target==record[0])\n{\n    msg.payload = record.slice(1,15);\n}\nelse\n{\n    return null;\n}\nreturn msg","outputs":1,"noerr":0,"x":1270,"y":2080,"wires":[["7f22c47d.1fe73c","9c74ba4b.fa5c08"]]},{"id":"e1ee2430.2e62c8","type":"change","z":"25ccdd2c.a33652","name":"","rules":[{"t":"set","p":"target","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":2080,"wires":[["8cae3f1f.9d79c","478caca1.d36034"]]},{"id":"4e1928c9.e87778","type":"ui_chart","z":"25ccdd2c.a33652","name":"","group":"988da0ff.eb01e","order":4,"width":"10","height":"10","label":"Category","chartType":"horizontalBar","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1000000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2200,"y":2040,"wires":[[]]},{"id":"f700adf6.606ea","type":"debug","z":"25ccdd2c.a33652","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1970,"y":2000,"wires":[]},{"id":"478caca1.d36034","type":"debug","z":"25ccdd2c.a33652","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":1960,"wires":[]},{"id":"6e1cd6d.d447028","type":"debug","z":"25ccdd2c.a33652","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1020,"y":1980,"wires":[]},{"id":"7f22c47d.1fe73c","type":"splitter","z":"25ccdd2c.a33652","name":"","property":"payload","x":1410,"y":2080,"wires":[["bec2c78e.4521f8"]]},{"id":"bec2c78e.4521f8","type":"counter","z":"25ccdd2c.a33652","name":"","init":"0","step":"1","lower":"","upper":"","mode":"increment","outputs":"1","x":1560,"y":2080,"wires":[["3f1e47fe.bd2b58"]]},{"id":"3f1e47fe.bd2b58","type":"function","z":"25ccdd2c.a33652","name":"","func":"var topics = \"center_id,Beverages,Rice Bowl,Starters,Pasta,Sandwich,Biryani,Extras,Pizza,Seafood,Other Snacks,Desert,Salad,Fish,Soup\".split(\",\")\nmsg.payload = parseInt(msg.payload)\nmsg.topic = topics[msg.count%14];\nif(msg.count%14==0)\n{\n    msg.topic = topics[14];\n}\nreturn msg;","outputs":1,"noerr":0,"x":1740,"y":2080,"wires":[["f700adf6.606ea","a45bba4b.6a99f8","4e1928c9.e87778"]]},{"id":"a45bba4b.6a99f8","type":"debug","z":"25ccdd2c.a33652","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":2000,"y":2100,"wires":[]},{"id":"82395633.7792b8","type":"ui_form","z":"25ccdd2c.a33652","name":"","label":"","group":"988da0ff.eb01e","order":3,"width":0,"height":0,"options":[{"label":"Center_Id","value":"center_id","type":"number","required":true,"rows":null}],"formValue":{"center_id":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":1900,"wires":[["5511569c.942da8"]]},{"id":"9adc9379.e1fb9","type":"debug","z":"25ccdd2c.a33652","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":1820,"wires":[]},{"id":"5511569c.942da8","type":"change","z":"25ccdd2c.a33652","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.center_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":1880,"wires":[["d802c253.f674d","e1ee2430.2e62c8","9adc9379.e1fb9","4446ff17.d273"]]},{"id":"4446ff17.d273","type":"function","z":"25ccdd2c.a33652","name":"","func":"msg.payload = []\nreturn msg;","outputs":1,"noerr":0,"x":1840,"y":1880,"wires":[["613eebd.84f1414","4e1928c9.e87778"]]},{"id":"fdf971d9.5fa86","type":"debug","z":"25ccdd2c.a33652","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1560,"y":1620,"wires":[]},{"id":"9c74ba4b.fa5c08","type":"debug","z":"25ccdd2c.a33652","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1410,"y":1980,"wires":[]},{"id":"1623b9e7.9ec5e6","type":"ui_text","z":"25ccdd2c.a33652","group":"6e405692.148808","order":7,"width":"10","height":"1","name":"","label":"Get Meal ID","format":"{{msg.payload}}","layout":"row-spread","x":4410,"y":1820,"wires":[]},{"id":"1758fac3.78a1a5","type":"ui_dropdown","z":"25ccdd2c.a33652","name":"","label":"","tooltip":"","place":"Select Category","group":"6e405692.148808","order":10,"width":"5","height":"1","passthru":true,"multiple":false,"options":[{"label":"Beverages","value":"Beverages","type":"str"},{"label":"Rice Bowl","value":"Rice Bowl","type":"str"},{"label":"Starters","value":"Starters","type":"str"},{"label":"Pasta","value":"Pasta","type":"str"},{"label":"Biryani","value":"Biryani","type":"str"},{"label":"Sandwich","value":"Sandwich","type":"str"},{"label":"Extras","value":"Extras","type":"str"},{"label":"Seafood","value":"Sea Food","type":"str"},{"label":"Other Snacks","value":"Other Snacks","type":"str"},{"label":"Dessert","value":"Dessert","type":"str"},{"label":"Salad","value":"Salad","type":"str"},{"label":"Fish","value":"Fish","type":"str"},{"label":"Soup","value":"Soup","type":"str"}],"payload":"","topic":"","x":2800,"y":1820,"wires":[["61c3eef1.bbccf"]]},{"id":"1dfa52dd.15a54d","type":"debug","z":"25ccdd2c.a33652","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2930,"y":1680,"wires":[]},{"id":"4b778fc.e7d9c7","type":"change","z":"25ccdd2c.a33652","name":"","rules":[{"t":"set","p":"cuisine","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3030,"y":1720,"wires":[["91b92b78.757138","d8eaa2ec.eb1ce"]]},{"id":"61c3eef1.bbccf","type":"change","z":"25ccdd2c.a33652","name":"","rules":[{"t":"set","p":"category","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3090,"y":1800,"wires":[["93f86f5f.7ac12","d8eaa2ec.eb1ce"]]},{"id":"af04b395.3129c","type":"change","z":"25ccdd2c.a33652","name":"Generate array payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\t {\t   \"meal_id\": 1885,\t   \"category\": \"Beverages\",\t   \"cuisine\": \"Thai\"\t },\t {\t   \"meal_id\": 1993,\t   \"category\": \"Beverages\",\t   \"cuisine\": \"Thai\"\t },\t {\t   \"meal_id\": 2539,\t   \"category\": \"Beverages\",\t   \"cuisine\": \"Thai\"\t },\t {\t   \"meal_id\": 1248,\t   \"category\": \"Beverages\",\t   \"cuisine\": \"Indian\"\t },\t {\t   \"meal_id\": 2631,\t   \"category\": \"Beverages\",\t   \"cuisine\": \"Indian\"\t },\t {\t   \"meal_id\": 1311,\t   \"category\": \"Extras\",\t   \"cuisine\": \"Thai\"\t },\t {\t   \"meal_id\": 1062,\t   \"category\": \"Beverages\",\t   \"cuisine\": \"Italian\"\t },\t {\t   \"meal_id\": 1778,\t   \"category\": \"Beverages\",\t   \"cuisine\": \"Italian\"\t },\t {\t   \"meal_id\": 1803,\t   \"category\": \"Extras\",\t   \"cuisine\": \"Thai\"\t },\t {\t   \"meal_id\": 1198,\t   \"category\": \"Extras\",\t   \"cuisine\": \"Thai\"\t },\t {\t   \"meal_id\": 2707,\t   \"category\": \"Beverages\",\t   \"cuisine\": \"Italian\"\t },\t {\t   \"meal_id\": 1847,\t   \"category\": \"Soup\",\t   \"cuisine\": \"Thai\"\t },\t {\t   \"meal_id\": 1438,\t   \"category\": \"Soup\",\t   \"cuisine\": \"Thai\"\t },\t {\t   \"meal_id\": 2494,\t   \"category\": \"Soup\",\t   \"cuisine\": \"Thai\"\t },\t {\t   \"meal_id\": 2760,\t   \"category\": \"Other Snacks\",\t   \"cuisine\": \"Thai\"\t },\t {\t   \"meal_id\": 2490,\t   \"category\": \"Salad\",\t   \"cuisine\": \"Italian\"\t },\t {\t   \"meal_id\": 1109,\t   \"category\": \"Rice Bowl\",\t   \"cuisine\": \"Indian\"\t },\t {\t   \"meal_id\": 2290,\t   \"category\": \"Rice Bowl\",\t   \"cuisine\": \"Indian\"\t },\t {\t   \"meal_id\": 1525,\t   \"category\": \"Other Snacks\",\t   \"cuisine\": \"Thai\"\t },\t {\t   \"meal_id\": 2704,\t   \"category\": \"Other Snacks\",\t   \"cuisine\": \"Thai\"\t },\t {\t   \"meal_id\": 1878,\t   \"category\": \"Starters\",\t   \"cuisine\": \"Thai\"\t },\t {\t   \"meal_id\": 2640,\t   \"category\": \"Starters\",\t   \"cuisine\": \"Thai\"\t },\t {\t   \"meal_id\": 2577,\t   \"category\": \"Starters\",\t   \"cuisine\": \"Thai\"\t },\t {\t   \"meal_id\": 1754,\t   \"category\": \"Sandwich\",\t   \"cuisine\": \"Italian\"\t },\t {\t   \"meal_id\": 1971,\t   \"category\": \"Sandwich\",\t   \"cuisine\": \"Italian\"\t },\t {\t   \"meal_id\": 2306,\t   \"category\": \"Pasta\",\t   \"cuisine\": \"Italian\"\t },\t {\t   \"meal_id\": 2139,\t   \"category\": \"Beverages\",\t   \"cuisine\": \"Indian\"\t },\t {\t   \"meal_id\": 2826,\t   \"category\": \"Sandwich\",\t   \"cuisine\": \"Italian\"\t },\t {\t   \"meal_id\": 2664,\t   \"category\": \"Salad\",\t   \"cuisine\": \"Italian\"\t },\t {\t   \"meal_id\": 2569,\t   \"category\": \"Salad\",\t   \"cuisine\": \"Italian\"\t },\t {\t   \"meal_id\": 1230,\t   \"category\": \"Beverages\",\t   \"cuisine\": \"Continental\"\t },\t {\t   \"meal_id\": 1207,\t   \"category\": \"Beverages\",\t   \"cuisine\": \"Continental\"\t },\t {\t   \"meal_id\": 2322,\t   \"category\": \"Beverages\",\t   \"cuisine\": \"Continental\"\t },\t {\t   \"meal_id\": 2492,\t   \"category\": \"Desert\",\t   \"cuisine\": \"Indian\"\t },\t {\t   \"meal_id\": 1216,\t   \"category\": \"Pasta\",\t   \"cuisine\": \"Italian\"\t },\t {\t   \"meal_id\": 1727,\t   \"category\": \"Rice Bowl\",\t   \"cuisine\": \"Indian\"\t },\t {\t   \"meal_id\": 1902,\t   \"category\": \"Biryani\",\t   \"cuisine\": \"Indian\"\t },\t {\t   \"meal_id\": 1247,\t   \"category\": \"Biryani\",\t   \"cuisine\": \"Indian\"\t },\t {\t   \"meal_id\": 2304,\t   \"category\": \"Desert\",\t   \"cuisine\": \"Indian\"\t },\t {\t   \"meal_id\": 1543,\t   \"category\": \"Desert\",\t   \"cuisine\": \"Indian\"\t },\t {\t   \"meal_id\": 1770,\t   \"category\": \"Biryani\",\t   \"cuisine\": \"Indian\"\t },\t {\t   \"meal_id\": 2126,\t   \"category\": \"Pasta\",\t   \"cuisine\": \"Italian\"\t },\t {\t   \"meal_id\": 1558,\t   \"category\": \"Pizza\",\t   \"cuisine\": \"Continental\"\t },\t {\t   \"meal_id\": 2581,\t   \"category\": \"Pizza\",\t   \"cuisine\": \"Continental\"\t },\t {\t   \"meal_id\": 1962,\t   \"category\": \"Pizza\",\t   \"cuisine\": \"Continental\"\t },\t {\t   \"meal_id\": 1571,\t   \"category\": \"Fish\",\t   \"cuisine\": \"Continental\"\t },\t {\t   \"meal_id\": 2956,\t   \"category\": \"Fish\",\t   \"cuisine\": \"Continental\"\t },\t {\t   \"meal_id\": 2104,\t   \"category\": \"Fish\",\t   \"cuisine\": \"Continental\"\t },\t {\t   \"meal_id\": 2444,\t   \"category\": \"Seafood\",\t   \"cuisine\": \"Continental\"\t },\t {\t   \"meal_id\": 2867,\t   \"category\": \"Seafood\",\t   \"cuisine\": \"Continental\"\t },\t {\t   \"meal_id\": 1445,\t   \"category\": \"Seafood\",\t   \"cuisine\": \"Continental\"\t }\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3530,"y":1840,"wires":[["f3ceb87a.1f35e8"]]},{"id":"f3ceb87a.1f35e8","type":"csv","z":"25ccdd2c.a33652","name":"generate meal_info.csv","sep":",","hdrin":"","hdrout":true,"multi":"one","ret":"\\n","temp":"meal_id,category,cuisine","skip":"0","strings":true,"x":3770,"y":1840,"wires":[["57694a17.ef75f4"]]},{"id":"57694a17.ef75f4","type":"split","z":"25ccdd2c.a33652","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":3950,"y":1840,"wires":[["807cae4a.35a01"]]},{"id":"807cae4a.35a01","type":"function","z":"25ccdd2c.a33652","name":"find match","func":"var record = msg.payload.split(\",\");\nvar target1 = global.get(\"category\");\nvar target2 = global.get(\"cuisine\")\nif(target1 == record[1] && target2 == record[2])\n{\n    msg.payload = record[0];\n    return msg;\n}\nelse\n{\n    return null;\n}","outputs":1,"noerr":0,"x":4090,"y":1840,"wires":[["f108c9e6.a210b8","28ec6edf.c15e72"]]},{"id":"adc606f5.f94bf8","type":"function","z":"25ccdd2c.a33652","name":"","func":"global.set(\"value\", \"\");\nreturn msg;","outputs":1,"noerr":0,"x":3340,"y":1740,"wires":[["af04b395.3129c"]]},{"id":"91b92b78.757138","type":"debug","z":"25ccdd2c.a33652","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":3300,"y":1920,"wires":[]},{"id":"93f86f5f.7ac12","type":"debug","z":"25ccdd2c.a33652","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":3470,"y":2000,"wires":[]},{"id":"f108c9e6.a210b8","type":"debug","z":"25ccdd2c.a33652","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":4060,"y":1760,"wires":[]},{"id":"b691a1a9.0bdb","type":"debug","z":"25ccdd2c.a33652","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":4440,"y":1960,"wires":[]},{"id":"28ec6edf.c15e72","type":"function","z":"25ccdd2c.a33652","name":"","func":"var t = global.get(\"value\");\nt = t+msg.payload+\" \";\nglobal.set(\"value\", t);\nvar s = global.get(\"value\").split(\" \");\ns.pop();\nmsg.payload = s;\n\nreturn msg;","outputs":1,"noerr":0,"x":4230,"y":1920,"wires":[["b691a1a9.0bdb","1623b9e7.9ec5e6"]]},{"id":"9aef4e09.8aad4","type":"ui_text","z":"25ccdd2c.a33652","group":"ac3dc22e.8f576","order":7,"width":"0","height":"0","name":"","label":"Get Center ID","format":"{{msg.payload}}","layout":"row-spread","x":4600,"y":2260,"wires":[]},{"id":"2eccc73a.70b0c8","type":"change","z":"25ccdd2c.a33652","name":"Generate array payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\t {\t   \"center_id\": 11,\t   \"city_code\": 679,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 3.7\t },\t {\t   \"center_id\": 13,\t   \"city_code\": 590,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_B\",\t   \"op_area\": 6.7\t },\t {\t   \"center_id\": 124,\t   \"city_code\": 590,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_C\",\t   \"op_area\": 4\t },\t {\t   \"center_id\": 66,\t   \"city_code\": 648,\t   \"region_code\": 34,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 4.1\t },\t {\t   \"center_id\": 94,\t   \"city_code\": 632,\t   \"region_code\": 34,\t   \"center_type\": \"TYPE_C\",\t   \"op_area\": 3.6\t },\t {\t   \"center_id\": 64,\t   \"city_code\": 553,\t   \"region_code\": 77,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 4.4\t },\t {\t   \"center_id\": 129,\t   \"city_code\": 593,\t   \"region_code\": 77,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 3.9\t },\t {\t   \"center_id\": 139,\t   \"city_code\": 693,\t   \"region_code\": 34,\t   \"center_type\": \"TYPE_C\",\t   \"op_area\": 2.8\t },\t {\t   \"center_id\": 88,\t   \"city_code\": 526,\t   \"region_code\": 34,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 4.1\t },\t {\t   \"center_id\": 143,\t   \"city_code\": 562,\t   \"region_code\": 77,\t   \"center_type\": \"TYPE_B\",\t   \"op_area\": 3.8\t },\t {\t   \"center_id\": 101,\t   \"city_code\": 699,\t   \"region_code\": 85,\t   \"center_type\": \"TYPE_C\",\t   \"op_area\": 2.8\t },\t {\t   \"center_id\": 86,\t   \"city_code\": 699,\t   \"region_code\": 85,\t   \"center_type\": \"TYPE_C\",\t   \"op_area\": 4\t },\t {\t   \"center_id\": 32,\t   \"city_code\": 526,\t   \"region_code\": 34,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 3.8\t },\t {\t   \"center_id\": 149,\t   \"city_code\": 478,\t   \"region_code\": 77,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 2.4\t },\t {\t   \"center_id\": 152,\t   \"city_code\": 576,\t   \"region_code\": 34,\t   \"center_type\": \"TYPE_B\",\t   \"op_area\": 4\t },\t {\t   \"center_id\": 92,\t   \"city_code\": 526,\t   \"region_code\": 34,\t   \"center_type\": \"TYPE_C\",\t   \"op_area\": 2.9\t },\t {\t   \"center_id\": 27,\t   \"city_code\": 713,\t   \"region_code\": 85,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 4.5\t },\t {\t   \"center_id\": 14,\t   \"city_code\": 654,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_C\",\t   \"op_area\": 2.7\t },\t {\t   \"center_id\": 26,\t   \"city_code\": 515,\t   \"region_code\": 77,\t   \"center_type\": \"TYPE_C\",\t   \"op_area\": 3\t },\t {\t   \"center_id\": 104,\t   \"city_code\": 647,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 4.5\t },\t {\t   \"center_id\": 77,\t   \"city_code\": 676,\t   \"region_code\": 34,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 3.8\t },\t {\t   \"center_id\": 23,\t   \"city_code\": 698,\t   \"region_code\": 23,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 3.4\t },\t {\t   \"center_id\": 97,\t   \"city_code\": 628,\t   \"region_code\": 77,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 4.6\t },\t {\t   \"center_id\": 146,\t   \"city_code\": 526,\t   \"region_code\": 34,\t   \"center_type\": \"TYPE_B\",\t   \"op_area\": 5\t },\t {\t   \"center_id\": 113,\t   \"city_code\": 680,\t   \"region_code\": 77,\t   \"center_type\": \"TYPE_C\",\t   \"op_area\": 4\t },\t {\t   \"center_id\": 145,\t   \"city_code\": 620,\t   \"region_code\": 77,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 3.9\t },\t {\t   \"center_id\": 80,\t   \"city_code\": 604,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_C\",\t   \"op_area\": 5.1\t },\t {\t   \"center_id\": 55,\t   \"city_code\": 647,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_C\",\t   \"op_area\": 2\t },\t {\t   \"center_id\": 186,\t   \"city_code\": 649,\t   \"region_code\": 34,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 3.4\t },\t {\t   \"center_id\": 99,\t   \"city_code\": 596,\t   \"region_code\": 71,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 4.5\t },\t {\t   \"center_id\": 91,\t   \"city_code\": 590,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_C\",\t   \"op_area\": 0.9\t },\t {\t   \"center_id\": 20,\t   \"city_code\": 522,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 4\t },\t {\t   \"center_id\": 106,\t   \"city_code\": 675,\t   \"region_code\": 34,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 4\t },\t {\t   \"center_id\": 81,\t   \"city_code\": 526,\t   \"region_code\": 34,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 4\t },\t {\t   \"center_id\": 73,\t   \"city_code\": 576,\t   \"region_code\": 34,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 4\t },\t {\t   \"center_id\": 29,\t   \"city_code\": 526,\t   \"region_code\": 34,\t   \"center_type\": \"TYPE_C\",\t   \"op_area\": 4\t },\t {\t   \"center_id\": 43,\t   \"city_code\": 590,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 5.1\t },\t {\t   \"center_id\": 102,\t   \"city_code\": 593,\t   \"region_code\": 77,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 2.8\t },\t {\t   \"center_id\": 61,\t   \"city_code\": 473,\t   \"region_code\": 77,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 4.5\t },\t {\t   \"center_id\": 50,\t   \"city_code\": 556,\t   \"region_code\": 77,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 4.8\t },\t {\t   \"center_id\": 83,\t   \"city_code\": 659,\t   \"region_code\": 77,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 5.3\t },\t {\t   \"center_id\": 57,\t   \"city_code\": 541,\t   \"region_code\": 77,\t   \"center_type\": \"TYPE_C\",\t   \"op_area\": 2.8\t },\t {\t   \"center_id\": 126,\t   \"city_code\": 577,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 2.7\t },\t {\t   \"center_id\": 177,\t   \"city_code\": 683,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 3.4\t },\t {\t   \"center_id\": 67,\t   \"city_code\": 638,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_B\",\t   \"op_area\": 7\t },\t {\t   \"center_id\": 174,\t   \"city_code\": 700,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 7\t },\t {\t   \"center_id\": 59,\t   \"city_code\": 456,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 4.2\t },\t {\t   \"center_id\": 58,\t   \"city_code\": 695,\t   \"region_code\": 77,\t   \"center_type\": \"TYPE_C\",\t   \"op_area\": 3.8\t },\t {\t   \"center_id\": 65,\t   \"city_code\": 602,\t   \"region_code\": 34,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 4.8\t },\t {\t   \"center_id\": 39,\t   \"city_code\": 526,\t   \"region_code\": 34,\t   \"center_type\": \"TYPE_C\",\t   \"op_area\": 3.8\t },\t {\t   \"center_id\": 132,\t   \"city_code\": 522,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 3.9\t },\t {\t   \"center_id\": 89,\t   \"city_code\": 703,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 4.8\t },\t {\t   \"center_id\": 162,\t   \"city_code\": 526,\t   \"region_code\": 34,\t   \"center_type\": \"TYPE_C\",\t   \"op_area\": 2\t },\t {\t   \"center_id\": 75,\t   \"city_code\": 651,\t   \"region_code\": 77,\t   \"center_type\": \"TYPE_B\",\t   \"op_area\": 4.7\t },\t {\t   \"center_id\": 72,\t   \"city_code\": 638,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_C\",\t   \"op_area\": 3.9\t },\t {\t   \"center_id\": 41,\t   \"city_code\": 590,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_C\",\t   \"op_area\": 1.9\t },\t {\t   \"center_id\": 10,\t   \"city_code\": 590,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_B\",\t   \"op_area\": 6.3\t },\t {\t   \"center_id\": 110,\t   \"city_code\": 485,\t   \"region_code\": 77,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 3.8\t },\t {\t   \"center_id\": 52,\t   \"city_code\": 685,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_B\",\t   \"op_area\": 5.6\t },\t {\t   \"center_id\": 93,\t   \"city_code\": 461,\t   \"region_code\": 34,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 3.9\t },\t {\t   \"center_id\": 74,\t   \"city_code\": 702,\t   \"region_code\": 35,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 2.8\t },\t {\t   \"center_id\": 34,\t   \"city_code\": 615,\t   \"region_code\": 34,\t   \"center_type\": \"TYPE_B\",\t   \"op_area\": 4.2\t },\t {\t   \"center_id\": 137,\t   \"city_code\": 590,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 4.4\t },\t {\t   \"center_id\": 153,\t   \"city_code\": 590,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 3.9\t },\t {\t   \"center_id\": 24,\t   \"city_code\": 614,\t   \"region_code\": 85,\t   \"center_type\": \"TYPE_B\",\t   \"op_area\": 3.6\t },\t {\t   \"center_id\": 109,\t   \"city_code\": 599,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 3.6\t },\t {\t   \"center_id\": 108,\t   \"city_code\": 579,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_B\",\t   \"op_area\": 4.4\t },\t {\t   \"center_id\": 36,\t   \"city_code\": 517,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_B\",\t   \"op_area\": 4.4\t },\t {\t   \"center_id\": 157,\t   \"city_code\": 609,\t   \"region_code\": 93,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 4.1\t },\t {\t   \"center_id\": 17,\t   \"city_code\": 517,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 3.2\t },\t {\t   \"center_id\": 161,\t   \"city_code\": 658,\t   \"region_code\": 34,\t   \"center_type\": \"TYPE_B\",\t   \"op_area\": 3.9\t },\t {\t   \"center_id\": 42,\t   \"city_code\": 561,\t   \"region_code\": 77,\t   \"center_type\": \"TYPE_B\",\t   \"op_area\": 3.9\t },\t {\t   \"center_id\": 53,\t   \"city_code\": 590,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 3.8\t },\t {\t   \"center_id\": 30,\t   \"city_code\": 604,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 3.5\t },\t {\t   \"center_id\": 76,\t   \"city_code\": 614,\t   \"region_code\": 85,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 3\t },\t {\t   \"center_id\": 68,\t   \"city_code\": 676,\t   \"region_code\": 34,\t   \"center_type\": \"TYPE_B\",\t   \"op_area\": 4.1\t },\t {\t   \"center_id\": 51,\t   \"city_code\": 638,\t   \"region_code\": 56,\t   \"center_type\": \"TYPE_A\",\t   \"op_area\": 7\t }\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3710,"y":2280,"wires":[["4f9231f8.14338"]]},{"id":"4f9231f8.14338","type":"csv","z":"25ccdd2c.a33652","name":"generate meal_info.csv","sep":",","hdrin":"","hdrout":"all","multi":"one","ret":"\\n","temp":"center_id,city_code,region_code,center_type,op_area","skip":"0","strings":true,"x":3950,"y":2280,"wires":[["21ec0c7.7dee9f4"]]},{"id":"21ec0c7.7dee9f4","type":"split","z":"25ccdd2c.a33652","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":4130,"y":2280,"wires":[["6f2f1645.d85448"]]},{"id":"6f2f1645.d85448","type":"function","z":"25ccdd2c.a33652","name":"find match","func":"var record = msg.payload.split(\",\");\nvar target1 = global.get(\"city_code\");\nvar target2 = global.get(\"region_code\");\nvar target3 = global.get(\"type\");\nvar target4 = global.get(\"oparea_min\");\nvar target5 = global.get(\"oparea_max\")\nif(target1 == record[1] && target2 == record[2] && target3 == record[3] && record[4]>=target4 && record[4]<=target5)\n{\n    msg.payload = record[0];\n    return msg;\n}\nelse\n{\n    return null;\n}","outputs":1,"noerr":0,"x":4270,"y":2280,"wires":[["8f5d5aeb.e38ab8","86e53e67.2d2ef"]]},{"id":"95cb45f2.5f8098","type":"function","z":"25ccdd2c.a33652","name":"","func":"global.set(\"value\", \"\");\nreturn msg;","outputs":1,"noerr":0,"x":3520,"y":2280,"wires":[["2eccc73a.70b0c8"]]},{"id":"8f5d5aeb.e38ab8","type":"debug","z":"25ccdd2c.a33652","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":4240,"y":2200,"wires":[]},{"id":"3ae23441.ad6a2c","type":"debug","z":"25ccdd2c.a33652","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":4620,"y":2400,"wires":[]},{"id":"86e53e67.2d2ef","type":"function","z":"25ccdd2c.a33652","name":"","func":"var t = global.get(\"value\");\nt = t+msg.payload+\" \";\nglobal.set(\"value\", t);\nvar s = global.get(\"value\").split(\" \");\ns.pop();\nmsg.payload = s;\n\nreturn msg;","outputs":1,"noerr":0,"x":4410,"y":2360,"wires":[["3ae23441.ad6a2c","9aef4e09.8aad4"]]},{"id":"2a71a824.6d02e8","type":"change","z":"25ccdd2c.a33652","name":"","rules":[{"t":"set","p":"type","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3060,"y":2200,"wires":[["b287eb21.8d6058"]]},{"id":"4b827f3a.31596","type":"debug","z":"25ccdd2c.a33652","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":3430,"y":2520,"wires":[]},{"id":"88a803d3.2f204","type":"change","z":"25ccdd2c.a33652","name":"","rules":[{"t":"set","p":"city_code","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3070,"y":2280,"wires":[["b287eb21.8d6058"]]},{"id":"ad2b6c07.decb5","type":"debug","z":"25ccdd2c.a33652","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":3430,"y":2560,"wires":[]},{"id":"8550761c.f5e818","type":"change","z":"25ccdd2c.a33652","name":"","rules":[{"t":"set","p":"region_code","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3090,"y":2380,"wires":[["b287eb21.8d6058"]]},{"id":"5fc5068b.a16968","type":"change","z":"25ccdd2c.a33652","name":"","rules":[{"t":"set","p":"oparea_min","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3040,"y":2480,"wires":[["4b827f3a.31596","b287eb21.8d6058"]]},{"id":"e554e3d7.220e4","type":"change","z":"25ccdd2c.a33652","name":"","rules":[{"t":"set","p":"oparea_max","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3050,"y":2640,"wires":[["ad2b6c07.decb5","b287eb21.8d6058"]]},{"id":"3fc77f28.09cea","type":"ui_dropdown","z":"25ccdd2c.a33652","name":"","label":"","tooltip":"","place":"Select Cuisine","group":"6e405692.148808","order":10,"width":"5","height":"1","passthru":true,"multiple":false,"options":[{"label":"Thai","value":"Thai","type":"str"},{"label":"Indian","value":"Indian","type":"str"},{"label":"Italian","value":"Italian","type":"str"},{"label":"Continental","value":"Continental","type":"str"}],"payload":"","topic":"","x":2760,"y":1680,"wires":[["1dfa52dd.15a54d"]]},{"id":"d8eaa2ec.eb1ce","type":"ui_button","z":"25ccdd2c.a33652","name":"","group":"c3d9ba1b.cfda28","order":4,"width":"10","height":"1","passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":3260,"y":1660,"wires":[["adc606f5.f94bf8"]]},{"id":"14898543.3c3cfb","type":"ui_dropdown","z":"25ccdd2c.a33652","name":"","label":"Center_Type","tooltip":"","place":"Select Center Type","group":"7ef9bb50.acce74","order":10,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"TYPE_A","value":"TYPE_A","type":"str"},{"label":"TYPE_B","value":"TYPE_B","type":"str"},{"label":"TYPE_C","value":"TYPE_C","type":"str"}],"payload":"","topic":"","x":2830,"y":2200,"wires":[["2a71a824.6d02e8"]]},{"id":"f3d93705.6b2158","type":"ui_text_input","z":"25ccdd2c.a33652","name":"","label":"city_code","tooltip":"","group":"7ef9bb50.acce74","order":2,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"","x":2830,"y":2280,"wires":[["88a803d3.2f204"]]},{"id":"a6c4ddb.6eabc2","type":"ui_text_input","z":"25ccdd2c.a33652","name":"","label":"region_code","tooltip":"","group":"7ef9bb50.acce74","order":2,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"","x":2850,"y":2380,"wires":[["8550761c.f5e818"]]},{"id":"6279bf38.36f8a","type":"ui_slider","z":"25ccdd2c.a33652","name":"","label":"oparea_min","tooltip":"","group":"7ef9bb50.acce74","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"6","step":"0.5","x":2810,"y":2480,"wires":[["5fc5068b.a16968"]]},{"id":"8bae3bc7.ec4c38","type":"ui_slider","z":"25ccdd2c.a33652","name":"","label":"oparea_max","tooltip":"","group":"7ef9bb50.acce74","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"1","max":"7","step":"0.5","x":2810,"y":2640,"wires":[["e554e3d7.220e4"]]},{"id":"b287eb21.8d6058","type":"ui_button","z":"25ccdd2c.a33652","name":"","group":"a7ab9c5e.545a4","order":7,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":3330,"y":2300,"wires":[["95cb45f2.5f8098"]]},{"id":"830e827.81dea8","type":"function","z":"25ccdd2c.a33652","name":"","func":"msg.payload.discount_neg = false;\nmsg.payload.dicount_pos = false;\nmsg.payload.discount_no = false;\nif(msg.payload.base_price<msg.payload.checkout_price)\n{\n   msg.payload.discount_pos = true;\n}\nelse if(msg.payload.base_price>msg.payload.checkout_price)\n{\n   msg.payload.discount_neg = true;\n}\nelse\n{\n   msg.payload.discount_no = true;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":150,"y":80,"wires":[["d42369a0.47b3a8"]]},{"id":"b048b374.2c6e9","type":"ui_form","z":"25ccdd2c.a33652","name":"","label":"","group":"34781900.b4f518","order":1,"width":0,"height":0,"options":[{"label":"Week","value":"week","type":"number","required":true,"rows":null},{"label":"Center ID","value":"center_id","type":"number","required":true,"rows":null},{"label":"Meal ID","value":"meal_id","type":"number","required":true,"rows":null},{"label":"Base Price","value":"base_price","type":"number","required":true,"rows":null},{"label":"Checkout Price","value":"checkout_price","type":"number","required":true,"rows":null},{"label":"Email Promotions","value":"emailer_for_promotion","type":"switch","required":true,"rows":null},{"label":"Home Page Featuring","value":"homepage_featured","type":"switch","required":true,"rows":null}],"formValue":{"week":"","center_id":"","meal_id":"","base_price":"","checkout_price":"","emailer_for_promotion":false,"homepage_featured":false},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":50,"y":40,"wires":[["830e827.81dea8","8faf27f9.44b298"]]},{"id":"34781900.b4f518","type":"ui_group","z":"","name":"Inputs","tab":"d4c46d1e.23585","order":1,"disp":true,"width":"14","collapse":true},{"id":"ba1f5358.a0e69","type":"ui_group","z":"","name":"Week Wise","tab":"f14cbc76.925c5","order":1,"disp":true,"width":"6","collapse":false},{"id":"9b541280.b252d","type":"ui_group","z":"","name":"Update","tab":"c3f2606b.60439","order":1,"disp":true,"width":"6","collapse":false},{"id":"988da0ff.eb01e","type":"ui_group","z":"","name":"Warehouse Management","tab":"3216fc91.6d26d4","order":1,"disp":true,"width":"24","collapse":false},{"id":"6e405692.148808","type":"ui_group","z":"","name":"Meal ID","tab":"d4c46d1e.23585","order":2,"disp":false,"width":"10","collapse":false},{"id":"ac3dc22e.8f576","type":"ui_group","z":"","name":"Center ID","tab":"d4c46d1e.23585","order":5,"disp":false,"width":"10","collapse":false},{"id":"c3d9ba1b.cfda28","type":"ui_group","z":"","name":"Submit-MealID","tab":"d4c46d1e.23585","order":4,"disp":false,"width":"10","collapse":false},{"id":"7ef9bb50.acce74","type":"ui_group","z":"","name":"Center ID - Inputs","tab":"d4c46d1e.23585","order":6,"disp":false,"width":"10","collapse":false},{"id":"a7ab9c5e.545a4","type":"ui_group","z":"","name":"Center_id Submit","tab":"d4c46d1e.23585","order":7,"disp":false,"width":"10","collapse":false},{"id":"d4c46d1e.23585","type":"ui_tab","z":"","name":"Warehouse Dashboard","icon":"dashboard","disabled":false,"hidden":false},{"id":"f14cbc76.925c5","type":"ui_tab","z":"","name":"Chart","icon":"dashboard","disabled":false,"hidden":false},{"id":"c3f2606b.60439","type":"ui_tab","z":"","name":"Update Data","icon":"dashboard","disabled":false,"hidden":false},{"id":"3216fc91.6d26d4","type":"ui_tab","z":"","name":"Center Wise Visualizations","icon":"dashboard","disabled":false,"hidden":false}]